        {% capture cssBannerHeight %} 
            {% if section.settings.banner_height != blank %}
                height: {{section.settings.banner_height}}px; 
            {% endif %}
        {% endcapture %}
        
        {% capture cssBannerBackgroundImage %}
                {% if block.settings.bgImage != blank %}
                    background-image: 
                    url({{ block.settings.bgImage | img_url: 'master' }});
                {% else %}
                    background-color: #eee;
                {% endif %}
        {% endcapture %}

<div class="custom-banner__inner" style="{{ cssBannerHeight }}">
        <div class="custom-banner__overlay"></div>
        <div class="custom-banner__image" style="{{ cssBannerBackgroundImage }}"></div>

        <div class="custom-banner__content">
                {% include 'banners-custom-title' %}
                {% include 'banners-custom-button' %}      
        </div>   
</div>
