<div id="bingoMenuMobile" class="menuMobileContainer hidden-md hidden-lg">
	<div class="memoHeader">
		<span>{{ section.settings.bingomenu_menumobile_title }}</span>
		<div class="close btnMenuClose"><span>&times;</span></div>
	</div>
	<ul class="nav memoNav">
		{% for bingoLink in linklists[section.settings.bingomenu_linklist].links %}
			{% assign linkHandle = bingoLink.title | handleize %}

			{% if linklists[linkHandle].links != blank %}
				<li class="hasMemoDropdown{% if bingoLink.active %} active{% endif %}">
					<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
					<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
					<ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                      	{% assign ifor = forloop.index %}
						{% for bingoLink1 in linklists[linkHandle].links %}
							{% assign linkHandle = bingoLink1.title | handleize %}
							{% if linklists[linkHandle].links != blank %}
								<li class="hasMemoDropdown{% if bingoLink1.active %} active{% endif %}">
									<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
									<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
									<ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                                      	{% assign ifor1 = forloop.index %}
										{% for bingoLink2 in linklists[linkHandle].links %}
											{% assign linkHandle = bingoLink2.title | handleize %}
											{% if linklists[linkHandle].links != blank %}
												<li class="hasMemoDropdown{% if bingoLink2.active %} active{% endif %}">
													<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
													<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
													<ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
														{% for bingoLink3 in linklists[linkHandle].links %}
															<li class="{% if bingoLink3.active %}active{% endif %}">
																<a href="{{ bingoLink3.url }}" title="">{{ bingoLink3.title }}</a>
															</li>
														{% endfor %}
													</ul>
												</li>
											{% else %}
												<li class="{% if bingoLink2.active %}active{% endif %}">
													<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="{% if bingoLink1.active %}active{% endif %}">
									<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul> 
				</li>
			{% else %}
				<li class="{% if bingoLink.active %}active{% endif %}">
					<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
<div class="menuMobileOverlay hidden-md hidden-lg"></div>