
<li class="hasMenuDropdown hasMegaMenu{% if bingoLink.active %} active{% endif %}{% if block.settings.bingomenu_menu_without_banner_enable or block.settings.bingomenu_menu_brands_large_nav_enable %} dropdown--full-width{% endif %}">
	<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
	<div class="menuDropdown megaMenu">
		<div class="menuGroup row">
    
        {% if block.settings.bingomenu_menu_banner_enable %}
        <div style="display:flex;padding: 1rem 2rem;">
            {% comment %} --------------- POSITION 1 :: Menu - 1 {% endcomment %}
			<div class="" style="padding-right:0">
                    {%- assign menuTitle = block.settings.bingomenu_html_title1 -%}
                    {%- assign menuHandle = block.settings.megamenu_handle1 -%}
    
                        {%- if block.settings.bingomenu_html_title1 != blank -%}
                            <div class="menuTitle"><span>{{ block.settings.bingomenu_html_title1 }}</span></div>
                        {%- endif -%}
                        <div class="row">
                             {% for bingoLink in linklists[menuHandle].links %}
                            <div class="col-xs-12">
                                <ul class="bingoMenuLinks">
                                    <li class="{% if bingoLink.active %} active{% endif %}">
                                        <a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
            </div>
                
            {% comment %} ------------- POSITION 2 :: Banner section 1 {% endcomment %}
            <div class="megadropdown-banner-menu">
                       {%- if block.settings.bingomenu_banner_link_1 != blank -%}<a  style="position: relative;display:block;width:354px;height:145px;" class="clearfix" href="{{ block.settings.bingomenu_banner_link_1 }}">{%- endif -%}
                           {%- if block.settings.bingomenu_banner_1 != blank -%}
                               <img class="img-responsive" alt="" src="{{ block.settings.bingomenu_banner_1 | img_url: '350x150' }}" />
                               

                               {% if block.settings.bingomenu_menu_text_enable_1 %}
                                    <div style="width:150px;position:absolute;right:15px;top:10px;bottom:10px;">
                                            <h3 style="margin:0;font-size:18px;line-height:22px;color:#878787;font-weight:300;font-family:'Open Sans', sans-serif">
                                                {% if block.settings.bingomenu_menu_text_title_1 != blank %}
                                                    {{ block.settings.bingomenu_menu_text_title_1 }}
                                                {% endif %}
                                            </h3>
                                            <h3 style="margin-top:10px;color:#000000;font-weight:300;font-family:'Open Sans', sans-serif"> 
                                                <span style="display:block;font-size:22px">from</span>
                                                <span style="display:block;font-size:36px">
                                                    {% if block.settings.bingomenu_menu_text_price_1 != blank %}
                                                        {{ block.settings.bingomenu_menu_text_price_1 }}
                                                    {% endif %}
                                                </span>
                                            </h3>
                                    </div>
                               {% endif %}

                           {%- else -%}
                                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/350x150" />
                           {%- endif -%}
                       {%- if block.settings.bingomenu_banner_link_1 != blank %}</a>{%- endif -%}


                       {%- if block.settings.bingomenu_banner_link_2 != blank -%}<a style="position: relative;display:block;width:354px;height:145px;" class="clearfix" href="{{ block.settings.bingomenu_banner_link_2 }}">{%- endif -%}
                           {%- if block.settings.bingomenu_banner_2 != blank -%}
                               <img class="img-responsive" alt="" src="{{ block.settings.bingomenu_banner_2 | img_url: '350x150' }}" />
                               {% if block.settings.bingomenu_menu_text_enable_2 %}
                                    <div style="width:150px;position:absolute;right:15px;top:10px;bottom:10px;">
                                            <h3 style="margin:0;font-size:18px;line-height:22px;color:#878787;font-weight:300;font-family:'Open Sans', sans-serif">
                                                {% if block.settings.bingomenu_menu_text_title_2 != blank %}
                                                    {{ block.settings.bingomenu_menu_text_title_2 }}
                                                {% endif %}
                                            </h3>
                                            <h3 style="margin-top:10px;color:#000000;font-weight:300;font-family:'Open Sans', sans-serif"> 
                                                <span style="display:block;font-size:22px">from</span>
                                                <span style="display:block;font-size:36px">
                                                    {% if block.settings.bingomenu_menu_text_price_2 != blank %}
                                                        {{ block.settings.bingomenu_menu_text_price_2 }}
                                                    {% endif %}
                                                </span>
                                            </h3>
                                    </div>
                                {% endif %}
                           {%- else -%}
                               <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/350x150" />
                           {%- endif -%}
                       {%- if block.settings.bingomenu_banner_link_2 != blank %}</a>{%- endif -%}
               </div>
            </div>
        {% endif %}

        
        {% if block.settings.bingomenu_menu_without_banner_enable %}
            {% assign linkArraySize = linklists[block.settings.bingomenu_linklist_cols].links | size %}            
            {% assign bootstrapMaxCols = '12' | divided_by: linkArraySize %}

            {% for dropDownLink1 in linklists[block.settings.bingomenu_linklist_cols].links %}
                {% assign tagCollectionUrl1 = dropDownLink1.url | remove: '#' %}
            
                <div class="col-sm-{{ bootstrapMaxCols }} col-full-width-dropdown">
                    <div class="menuTitle"><span><a href="/collections/all/{{tagCollectionUrl1}}">{{ dropDownLink1.title }}</a></span></div>
                    {% assign linkHandle = dropDownLink1.title | handleize %}
                    <ul class="bingoMenuLinks">
                        {% for dropDownLink2 in linklists[linkHandle].links %}
                            {% assign tagCollectionUrl2 = dropDownLink2.url | remove: '#' %}
                            <li><a href="/collections/all/{{tagCollectionUrl2}}">{{ dropDownLink2.title }}</a></li>
                        {% endfor %}  
                    </ul>
                </div>
            {% endfor %}
        {% endif %}

        {% comment %}  Navigation for BRANDS {% endcomment %}
        {% if block.settings.bingomenu_menu_brands_enable %}
                    {% assign linkArraySize = linklists[block.settings.bingomenu_brands_menu].links | size %}           
                    
                    {%- if block.settings.bingomenu_brands_banner != blank -%}
                            <div class="{% if block.settings.bingomenu_menu_brands_large_nav_enable %}col-sm-4 {% else %} col-sm-7 {% endif %} megadropdown-brands-img-holder">
                                <img class="img-responsive" alt="" src="{{ block.settings.bingomenu_brands_banner | img_url: '440x305' }}" />
                            </div>
                    {%- else -%}
                            <div class="{% if block.settings.bingomenu_menu_brands_large_nav_enable %}col-sm-4 {% else %} col-sm-7 {% endif %} megadropdown-brands-img-holder">
                                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/440x305" />
                            </div>
                    {%- endif -%}

                    <div class="{% if block.settings.bingomenu_menu_brands_large_nav_enable %}col-sm-8 {% else %} col-sm-5 {% endif %} megadropdown-brands-nav">   
                        <div class="megadropdown-brands-nav-wrapper">          
                            {% for dropDownLink1 in linklists[block.settings.bingomenu_brands_menu].links %} 
                                {% assign numOfLinksInColumn = 9 %}
                                {% assign linksArrayLength = linklists[block.settings.bingomenu_brands_menu].links | size %}
                                {%- if block.settings.bingomenu_brands_links_in_col != blank -%}
                                    {% assign numOfLinksInColumn = block.settings.bingomenu_brands_links_in_col %}
                                {% endif %}
                                {% assign mod = forloop.index | modulo: numOfLinksInColumn %}
                                
                                {% comment %} create array for columns {% endcomment %}

                                        {% if forloop.index == 1 %} <ul class="bingoMenuLinks">{% endif %}
                                        {% assign tagCollectionUrl1 = dropDownLink1.url | remove: '#' %}
                                        <li><a href="{{tagCollectionUrl1}}">{{ dropDownLink1.title }}</a></li>
                                        {% if mod == 0 %}
                                            {% if forloop.index != linksArrayLength %}
                                                </ul><ul class="bingoMenuLinks">
                                            {% endif %}
                                        {% endif %}
                                        {% if forloop.last == true %}</ul>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    
        {% endif %}
		</div>
	</div>
</li>