{% if settings.wishlist_enable %}
    {% assign pagewishlist = pages[settings.wishlist_page] %}
    <div class="productWishList">
        {% if customer %}
      		{% capture value %}{{ product.selected_or_first_available_variant.id }}{% endcapture %}
            {% capture productID %}{{ product.selected_or_first_available_variant.id }}{% endcapture %}
            {% for tag in customer.tags %}
                {% capture tagID %}{{ tag }}{% endcapture %}
                {% if tagID contains productID %}
                    {% capture value %}x{{ tagID }}{% endcapture %}
                {% endif %}
                {% if value.size == 0 %}{% assign value = productID %}{% endif %}
            {% endfor %}
            {% unless value.size == 0 %}
                {% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
                {% assign check = check | split:'.' %}
                {% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
            {% endunless %}
            {% if display %}
                <form accept-charset="UTF-8" action="{{ shop.url }}/contact#contact_form" class="wishlistForm" method="post">
                    <input value="customer" name="form_type" type="hidden">
                    <input name="utf8" value="✓" type="hidden">
                    <input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
                    <input type="hidden" name="contact[tags]" value="{{ value }}" />
                    <button style="margin-left:0;" class="btn btnProduct" type="submit" data-toggle="tooltip" title="{{ 'general.wishlist.add_to_wishlist' | t }}">
                        <i class="fa fa-heart-o"></i>
                    </button>
                        <span class="wishlist-text" style="font-size:12px;">{{ 'general.wishlist.add_to_wishlist' | t }}</span>
                </form>
            {% else %}
                <a class="btn btnProduct btnWishlistAdded added" href="{{ pagewishlist.url }}" data-toggle="tooltip" title="{{ 'general.wishlist.added_to_wishlist' | t }}">
                    <i class="fa fa-heart-o"></i>
                    <span>{{ 'general.wishlist.added_to_wishlist' | t }}</span>
                </a>
            {% endif %}
        {% else %}
            <a style="margin-left:0;" class="btn btnWishlistNoLog btnProduct" href="/account/login" data-toggle="tooltip" title="{{ 'general.wishlist.add_to_wishlist' | t }}">
                <i class="fa fa-heart-o"></i>
                <span>{{ 'general.wishlist.add_to_wishlist' | t }}</span>
            </a>
            <span class="wishlist-text" style="font-size:12px;">{{ 'general.wishlist.add_to_wishlist' | t }}</span>

        {% endif %}
    </div>
{% endif %}