<!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
{% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}
{% if settings.bingo_newslettermodal_enable %}{{ 'cookie.js' | asset_url | script_tag }}{% endif %}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'vendor.js' | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'bootstrap.js' | asset_url | script_tag }}
{{ 'handlebars.js' | asset_url | script_tag }}
{{ 'fastclick.js' | asset_url | script_tag }}
{{ 'fancybox.js' | asset_url | script_tag }}
{{ 'scrollto.js' | asset_url | script_tag }}
{{ 'history.js' | asset_url | script_tag }}
{{ 'countdown.js' | asset_url | script_tag }}
{{ 'ion.rangeslider.js' | asset_url | script_tag }}
{{ 'master.js' | asset_url | script_tag }}
{{ 'bingo.js' | asset_url | script_tag }}