<div class="bingoAccountSidebar">
	<h1 class="bingoAccountTitle">{{ 'customer.account.title' | t }}</h1>
	<div class="bingoContent">
		<div class="bingoAccountList">
			<ul class="list-unstyled">
				<li class="{% if template contains 'customers' and template contains 'account' %}active{% endif %}">
					<a href="/account">{{ 'customer.sidebar.account_info' | t }}</a>
				</li>
				<li class="{% if template contains 'customers' and template contains 'addresses' %}active{% endif %}">
					<a href="/account/addresses">{{ 'customer.sidebar.account_address' | t }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>