{% if section.settings.product_related_enable %}
	{% assign proCol = 4 %}
	{% assign proLimit = section.settings.product_related_limit | plus: 0 %}
	{% assign currentProduct = product %}
	{% if collection == null or collection.handle == 'all' %}
		{% assign foundCollection = false %}
		{% for item in product.collections %}
		  	{% if foundCollection == false and item.handle != 'all' and item.all_products_count > 1 %}
		    	{% assign foundCollection = true %}
		    	{% assign collection = item %}
		  	{% endif %}
		{% endfor %}
	{% endif %}

{% comment %} --- loads women / men collections based on which product is on the current page {% endcomment %}
	{% assign men_collection_handle = 'men-collection' %}
	{% assign women_collection_handle = 'women-collection' %}
	{% assign skincare_collection_handle = 'skincare' %}
	{% assign makeup_collection_handle = 'makeup' %}

	{% for tag in product.tags %}
		{% if tag == 'man' %}
			{% assign collection = collections[men_collection_handle] %}	
		{% elsif tag == 'woman' %}
			{% assign collection = collections[women_collection_handle] %}	
		{% elsif tag == 'skinCare' %}	
			{% assign collection = collections[skincare_collection_handle] %}	
		{% elsif tag == 'makeup' %}	
			{% assign collection = collections[makeup_collection_handle] %}	
		{% endif %}
	{% endfor %}
{% comment %} --- end {% endcomment %}

	{% if collection and collection.products_count > 1 %}
		<section class="proRelated">
			<div id="relatedProducts" class="bingoProducts">
				<h3 class="bingoHomeTitle">{{ section.settings.product_related_title }}</h3>
				<div class="bingoContent">
					<div class="proOwlCarousel">
						<div class="owl-carousel proLoading">
							{% assign singleProductVariantTag = 'output_in_collection_all' %}
							{% for product in collection.products limit: proLimit %}
							{% include 'bold-product' with product, hide_action: 'skip' %}

								{% unless product.handle == currentProduct.handle %}
									{% for tag in product.tags %}
										{% if tag == singleProductVariantTag %}
											<div class="item">
												{% include 'product-grid-item' %}
											</div>
										{% endif %}
									{% endfor %}			
								{% endunless %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#relatedProducts .owl-carousel').each(function(){
			  	$(this).owlCarousel({
			      	items: {{ proCol }},
			      	navigation: true,
	              	addClassActive: true,
	              	autoHeight: true,
	          		{% if proAutoPlay %}
	          			autoPlay: 8000,
	          			stopOnHover: true,
	                {% endif %}
	          		{% if proCol == 1 %}
	          			singleItem : true,
	          		{% elsif proCol < 4 %}
	          			itemsDesktop: [1199, 2],
	                    itemsDesktopSmall: [979, 2],
	                    itemsTablet: [768, 2],
	                    itemsTabletSmall: [480, 1],
	                    itemsMobile: [360, 1],
	          		{% else %}
	          			itemsDesktop: [1199, 3],
	                    itemsDesktopSmall: [979, 2],
	                    itemsTablet: [768, 2],
	                    itemsTabletSmall: [480, 2],
	                    itemsMobile: [360, 1],
	          		{% endif %}
	          		afterInit: function(){
	          			$(".proLoading").removeClass('proLoading');
	          		}
		      	}); 
			});
		});
	</script>
{% endif %}