<div class="bingoSearchTop">
    <div class="bingoSearchIcon" title="">
        <i class="iconSearch"></i>
        {% comment %} <span>{{ 'general.search.text' | t }}</span> {% endcomment %}
    </div>
    <span class="searchClose"></span>
    <div class="searchBoxTop">
        <div class="seachBoxContainer">
            <div class="container-inner">
                <span class="searchOverLayer"></span>
                <form id="bingoSearchbox" class="formSearch" action="/search" method="get">
                    <input type="hidden" name="type" value="product">
                    <input class="bingoSearch form-control" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" />
                    <button id="bingoSearchButton" class="btn btnbingoSearch" type="submit" >
                        <span><i class="fa fa-search"></i></span>
                        <span class="btnSearchText">{{ 'general.search.submit' | t }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready( function(){ 
            $(".bingoSearchTop").each( function(){
                $(".searchBoxTop").hover(function(){
                    $("#bingoSearchbox .bingoSearch").focus();
                });
                $(".bingoSearchIcon").click( function(){
                    $(".searchBoxTop").toggleClass("active");
                    $(".searchClose").toggleClass("active");
                    $(".bingoSearchIcon").toggleClass("active");
                    // $(".searchOverLayer").toggleClass("active");
                });
                $(".searchClose").click( function(){
                    var hasClass = $(this).hasClass('active');
                    if(hasClass){
                        $(".searchBoxTop").removeClass("active");
                        $(".searchClose").removeClass("active");
                        // $(".searchOverLayer").removeClass("active");
                        setTimeout(function() {
                            $(".bingoSearchIcon").removeClass("active");
                        },150)     
                    }
                });
                $(".searchOverLayer").click( function(){
                    var hasClass = $(this).hasClass('active');
                    if(hasClass){
                        $(".searchBoxTop").removeClass("active");
                        $(".searchClose").removeClass("active");
                         $(".bingoSearchIcon").removeClass("active");   
                        // $(".searchOverLayer").removeClass("active");
                    }
                });
            }); 
        });
    </script>
</div>