<div class="bingoFooter">
	<h4 class="bingoFooterTitle">{{ menuTitle }}</h4>
	<div class="bingoContent">
		<ul class="bingoFooterLinks list-unstyled">
			{% for bingoLink in linklists[menuHandle].links %}
				<li class="{% if bingoLink.active %}active{% endif %}">
					<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>