<div id="bingoProList" class="proList list">
    {% for product in collection.products %}
    {% include 'bold-product' with product, hide_action: 'skip' %}

        <div class="clearfix">
            {% include 'product-list-item' with '' %}
        </div>
    {% else %}
        <div class="collNoProduct">
            <div class="alert alert-warning">
                <strong>{{ 'collections.general.no_matches' | t }}</strong>
            </div>
        </div>
    {% endfor %}
</div>