<div id="bingoProList" class="proList grid">
    <div class="bingoFlexRow flexRow">
    {% if collection.handle == 'all' %}
            {% for product in collection.products %}
            {% include 'bold-product' with product, hide_action: 'skip' %}

                {% if intProColumns == 1 %}
                    {% include 'product-grid-item' with 'col-xs-12' %}
                {% else %}
                    {% if product.tags contains 'output_in_collection_all' %}
                        {% include 'product-grid-item' with strGridItem %}                        
                    {% endif %}
                {% endif %}
            {% endfor %}  
    {% elsif collection.handle == 'fragranceall' %} 
            {% for product in collection.products %}
            {% include 'bold-product' with product, hide_action: 'skip' %}

                {% if intProColumns == 1 %}
                    {% include 'product-grid-item' with 'col-xs-12' %}
                {% else %}
                    {% include 'product-grid-item' with strGridItem %}
                {% endif %}
            {% endfor %}
    {% else %}
            {% for product in collection.products %}
            {% include 'bold-product' with product, hide_action: 'skip' %}

                {% if intProColumns == 1 %}
                    {% include 'product-grid-item' with 'col-xs-12' %}
                {% else %}
                    {% include 'product-grid-item' with strGridItem %}
                {% endif %}
            {% endfor %}    
    {% endif %}  

{% comment %} 
        {% if collection.url != '/collections/best-sellers' %}
                {% for product in collection.products %}

                    {% if intProColumns == 1 %}
                        {% include 'product-grid-item' with 'col-xs-12' %}
                    {% else %}
                            {% for tag in product.tags %}
                                {% if tag contains 'variantSingle' %}
                                    {% include 'product-grid-item' with strGridItem %}
                                {% endif %}
                            {% endfor %}
                
                            {% if collection.url == '/collections/gift-vouchers' %}
                                    {% include 'product-grid-item' with strGridItem %}
                            {% endif %}
                    {% endif %}
                {% else %}
                    <div class="collNoProduct col-xs-12">
                        <div class="alert alert-warning">
                        </div>
                    </div>
                {% endfor %}
            
        {% else %}
            {% for product in collection.products limit:10 %}
                {% include 'product-grid-item' with strGridItem %}
            {% endfor %}
           
        {% endif %} 
{% endcomment %}
    </div>
</div>