{%- if section.settings.bingomenu_enable -%}
<div id="bingoMegamenu" class="bingoMegamenu">
	<nav class="menuContainer">
		<div class="menuBtnMobile hidden-lg hidden-md">
			<div id="btnMenuMobile" class="btnMenuMobile">
				<span class="iconMenuMobile">
					<span></span>
					<span></span>
					<span></span>
				</span>
				<span>{{ section.settings.bingomenu_menumobile_title }}</span>
			</div>
		</div>
		<ul class="nav hidden-xs hidden-sm">
			{%- for bingoLink in linklists[section.settings.bingomenu_linklist].links -%}
				{%- assign linkHandle = bingoLink.title | handleize -%}
				{%- assign isMega = false -%}
				{%- for block in section.blocks -%}
                    {%- assign menuItem = bingoLink.title -%}
                    {%- if block.settings.bingomenu_item contains menuItem -%}
          				{%- include 'bingo-megamenu' -%}
                    	{%- assign isMega = true -%}
          				{%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if isMega == false -%}
            		{%- if linklists[linkHandle].links != blank -%}
						{% comment %}====== MENU DROPDOWN LEVEL I ======{% endcomment %}
						<li class="hasMenuDropdown{% if bingoLink.active %} active{% endif %}">
							<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
							<ul class="menuDropdown">
								{%- for bingoLink1 in linklists[linkHandle].links -%}
									{%- assign linkHandle = bingoLink1.title | handleize -%}
									{%- if linklists[linkHandle].links != blank -%}
										{% comment %}====== MENU DROPDOWN LEVEL II ======{% endcomment %}
										<li class="hasMenuDropdown{% if bingoLink1.active %} active{% endif %}">
											<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
											<ul class="menuDropdown">
												{%- for bingoLink2 in linklists[linkHandle].links -%}
													{%- assign linkHandle = bingoLink2.title | handleize -%}
													{%- if linklists[linkHandle].links != blank -%}
														{% comment %}====== MENU DROPDOWN LEVEL III ======{% endcomment %}
														<li class="hasMenuDropdown{% if bingoLink2.active %} active{% endif %}">
															<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
															<ul class="menuDropdown">
																{%- for bingoLink3 in linklists[linkHandle].links -%}
																	<li class="{% if bingoLink3.active %}active{% endif %}">
																		<a href="{{ bingoLink3.url }}" title="">{{ bingoLink3.title }}</a>
																	</li>
																{%- endfor -%}
															</ul>
														</li>
													{%- else -%}
														<li class="{% if bingoLink2.active %}active{% endif %}">
															<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
														</li>
													{%- endif -%}
												{%- endfor -%}
											</ul>
										</li>
									{%- else -%}
										<li class="{% if bingoLink1.active %}active{% endif %}">
											<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
										</li>
									{%- endif -%}
								{%- endfor -%}
							</ul>
						</li>
					{%- else -%}
						<li class="{% if bingoLink.active %}active{% endif %}">
							<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
						</li>
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
</div>
{%- endif -%}
{%- if section.settings.bingomenu_enable -%}
	{% include 'bingo-menu-mobile' %}
{%- endif -%}