{% if settings.quickview_enable %}
    <div class="productQuickView">
        <a class="btn btnProduct btnProductQuickview" href="#bingoQuickView" data-handle="{{ product.handle }}" data-toggle="tooltip" title="{{ 'general.quickview.title' | t }}">
          	<i class="fa fa-eye"></i>
          	<span>{{ 'general.quickview.title' | t }}</span>
        </a>
    </div>
{% endif %}