{% assign proImageSize = 'large' %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}
<div class="bingoProBlock filerProductPrice {{ product-list-item }}" data-price="{{ product.price | money_without_currency }}">
    <div class="row">
        <div class="col-sp-12 col-xs-4 col-sm-5 col-md-4">
            <div class="proHImage">
                <a class="proFeaturedImage" href="{{ product.url }}">
                    <img class="img-responsive" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:proImageSize }}" />
                  	{% if product.images.size > 1 and settings.product_second_image %}
                        <span class="hidden-sm hidden-xs">
                            {% for image in product.images %}
                                {% if forloop.first != true %}
                                    <img class="img-responsive" alt="{{ image.alt }}" src="{{ image.src | product_img_url:proImageSize }}">
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        </span>
                  	{% endif %}
                </a>
                {% if on_sale %}
                    <span class="labelSale">-{{ 'products.product.label_sale' | t }}</span>
                {% endif %}
                <div class="proButtonImage">
                    {% include 'bingo-product-quickview' %}
                </div>
            </div>
        </div>
        <div class="col-sp-12 col-xs-8 col-sm-7 col-md-8">
            <div class="proContent">
                <h5 class="proName">
                    <a href="{{ product.url }}">{{ product.title }}</a>
                    Test
                </h5>
                {% if settings.product_reviews_enable %}
                    <div class="proReviews">
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    </div>
                {% endif %}
                <div class="proDescription">{{ product.description | strip_html | truncatewords: 20}}</div>
                <div class="proPrice">
                    <div class="priceProduct priceSale">{{ product.price | money }}</div>
                    {% if on_sale %}
                        <div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
                    {% endif %}
                </div>
                <div class="proButton">
                    {% assign variantCount = product.variants | size %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        {% if sold_out %}
                            <button class="btn btnAddToCart disabled" type="submit" value="Submit" disabled data-toggle="tooltip" title="{{ 'products.product.sold_out' | t }}">
                                <i class="fa fa-shopping-cart"></i>
                                <span>{{ 'products.product.sold_out' | t }}</span>
                            </button>
                        {% else %}
                            {% if variantCount > 1 %}
                                <a class="btn btnAddToCart" href="{{ product.url }}" data-toggle="tooltip" title="{{ 'products.product.select_options' | t }}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                                </a>
                            {% else %}
                                <button class="btn btnAddToCart" type="submit" value="Submit" data-toggle="tooltip" title="{{ 'products.product.add_to_cart' | t }}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>{{ 'products.product.add_to_cart' | t }}</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    </form>
                    {% include 'bingo-product-wishlist' %}
                </div>
            </div>
        </div>
    </div>
</div>