{% unless proImageSize %}
	{%- assign proImageSize = 'large' -%}
{% endunless %}
{% if showReview != false and showReview != true %}
    {%- assign showReview = true -%}
{% endif %}
{%- assign on_sale = false -%}
{% if product.compare_at_price > product.price %}
    {%- assign on_sale = true -%}
{% endif %}
{%- assign sold_out = true -%}
{% if product.available %}
    {%- assign sold_out = false -%}
{% endif %}
{% if product-grid-item != blank %}
    <div class="filerProductPrice {{ product-grid-item }}" data-price="{{ product.price | money_without_currency }}">
{% endif %}

<div  class="bingoProBlock {% if sold_out %} product-soldout {% endif %}">
    <div class="proHImage">
        <a class="proFeaturedImage" href="{{ product.url }}">
            <img class="img-responsive" alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url:proImageSize }}" />
            {% if product.images.size > 1 and settings.product_second_image %}
                <span class="hidden-sm hidden-xs">
                    {% for image in product.images %}
                        {% if forloop.first != true %}
                            <img class="img-responsive" alt="{{ image.alt }}" src="{{ image.src | product_img_url:proImageSize }}">
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </span>
            {% endif %}
        </a>
        {%- if on_sale -%}
            <span class="labelSale">-{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round  }}%</span>
        {%- endif -%}

        {% if collection.url != '/collections/gift-vouchers' %}
            <div class="proButtonImage">
                {% include 'bingo-product-quickview' %}
                {% include 'bingo-product-wishlist' %}
            </div>
        {% endif %}


    </div>
    <div class="proContent">

        <div class="modal-variant-container-hidden single-product-variants-wrapper" style="display:none;">   
            {% for tag in product.tags %}
                {% if tag contains 'variant_' %}
                    {% assign current_tag_prod = tag %}
                    {% for prod_of_all in collections.all.products %}
                        {% if prod_of_all.tags contains current_tag_prod %}
                                {% if prod_of_all.id != product.id %}
                                    <a href="{{ prod_of_all.url }}" style="display:inline-block;margin-bottom:2px;border:1px solid #ddd;padding:.4em;">
                                        {{ prod_of_all | img_url: 'tiny' | img_tag }}
                                        <small class="single-product-variant-text" style="display:block;max-width:90px;color:#000;padding-top:.5em;">
                                            {{ prod_of_all.title }} 
                                        </small>
                                    </a>
                                {% endif %}
                        {% endif %} 
                    {% endfor %}

                {% endif %}
            {% endfor %}  
        </div> 

        <h5 class="proName">
            <a href="{{ product.url }}">{{ product.title }}</a>
        </h5>
        {% if showReview %}
            {% if settings.product_reviews_enable %}
                <div class="proReviews">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            {% endif %}
        {% endif %}
        <div class="proPrice">
            {% if collection.url != '/collections/gift-vouchers' %}
                <div class="priceProduct priceSale">{{ product.price | money }}</div>

                {%- if on_sale -%}
                    <div class="priceProduct priceCompare">{{ product.compare_at_price | money }}</div>
                {%- endif -%}
            {% endif %}
        
        </div>
        <div class="proButton">
            {%- assign variantCount = product.variants | size -%}
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                {% if sold_out %}
                    <button class="btn btnAddToCart disabled" type="submit" value="Submit" disabled data-toggle="tooltip" title="{{ 'products.product.sold_out' | t }}">
                        <i class="fa fa-shopping-cart"></i>
                        <span>{{ 'products.product.sold_out' | t }}</span>
                    </button>
                {% else %}
                    {% if variantCount > 1 %}
                        <a class="btn btnAddToCart" href="{{ product.url }}" data-toggle="tooltip" title="{{ 'products.product.select_options' | t }}">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                        </a>
                    {% else %}
                        {% comment %} <button class="btn btnAddToCart" type="submit" value="Submit" data-toggle="tooltip" title="{{ 'products.product.add_to_cart' | t }}">
                            <i class="fa fa-shopping-cart"></i>
                            <span>{{ 'products.product.add_to_cart' | t }}</span>
                        </button> {% endcomment %}
                        <a class="btn btnAddToCart" href="{{ product.url }}" data-toggle="tooltip" title="{{ 'products.product.select_options' | t }}">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="select_options">Learn more</span>
                        </a>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% if product-grid-item != blank %}
    </div>
{% endif %}