<!-- /snippets/social-meta-tags.liquid -->
{%- assign template_base = template | split: '.' | first -%}
{%- assign og_title = page_title  -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}
{% comment %} Template specific overides {% endcomment %}
{%- if template_base == 'product' -%}
  	{%- assign og_title = product.title | strip_html -%}
  	{%- assign og_type = 'product' -%}
  	{%- capture og_image_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image" content="http:{{ image.src | product_img_url: '1024x1024' }}">{% endfor -%}{% endcapture -%}
  	{%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1024x1024' }}">{% endfor -%}{% endcapture -%}
{%- elsif template_base == 'article' -%}
  	{%- assign og_title = article.title | strip_html -%}
  	{%- assign og_type = 'article' -%}
  	{%- assign og_description = article.excerpt_or_content | strip_html -%}
  	{%- if article.image -%}
    	{%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1024x1024' }}">{% endcapture -%}
    	{%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1024x1024' }}">{% endcapture -%}
  	{%- endif -%}
{%- elsif template_base == 'password' -%}
    {%- assign og_title = shop.name -%}
    {%- assign og_url = shop.url -%}
    {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}


<meta property="og:locale" content="en">
<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/2009/6859/files/sophea_4eb60b2a-8eb7-496a-af6e-54dd07a32895.png?v=1517056428" />
<meta property="og:image:width" content="250"/>
<meta property="og:image:height" content="36"/>
{%- if template_base == 'product' -%}
  	<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  	<meta property="og:price:currency" content="{{ shop.currency }}">
{%- endif -%}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}
<meta property="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ og_title }}">
<meta property="twitter:description" content="{{ og_description }}">
<meta property="twitter:image" content="https://cdn.shopify.com/s/files/1/2009/6859/files/sophea_4eb60b2a-8eb7-496a-af6e-54dd07a32895.png?v=1517056428" />