{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="bingoAccountContainer">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="formAccount">
                        <h1 class="bingoAccountTitle">{{ 'customer.activate_account.title' | t }}</h1>
                        {% form 'activate_customer_password' %}
                            <div class="formContent">
                                <p>{{ 'customer.activate_account.subtext' | t }}</p>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors | default_errors }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="CustomerPassword" class="hidden">{{ 'customer.activate_account.password' | t }}</label>
                                    <input type="password" value="" name="customer[password]" id="CustomerPassword" class="form-control" placeholder="{{ 'customer.activate_account.password' | t }}">
                                </div>
                                <div class="form-group">
                                    <label for="CustomerPasswordConfirmation" class="hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
                                    <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="form-control" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
                                </div>
                                <p><input type="submit" class="btn btnbingoOne" value="{{ 'customer.activate_account.submit' | t }}"> <input type="submit" class="btn btnbingoCancel" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></p>
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>