{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div id="bingoAccountAddress" class="bingoAccountContainer">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {% include 'bingo-account-sidebar' %}
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="bingoAddressContainer">
                        <h2 class="bingoAccountTitle">{{ 'customer.addresses.title' | t }}</h2>
                        <div class="bingoContent">
                            <div class="bingoAddressButton">
                                {%- if customer.addresses.size < 1 -%}
                                    <div class="noAddress">
                                        <div class="note">{{ 'customer.addresses.noaddress' | t }}</div>
                                    </div>
                                {%- endif -%}
                                <a href="#" class="btn btnbingoOne" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
                                <div id="AddAddress" class="formAddAddress" style="display: none;">
                                    {% form 'customer_address', customer.new_address %}
                                        <h2 class="bingoAddressTitle">{{ 'customer.addresses.add_new' | t }}</h2>
                                        <div class="formContent">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                                        <input type="text" id="AddressFirstNameNew" class="form-control" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.first_name' | t }}" >
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                                        <input type="text" id="AddressLastNameNew" class="form-control" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                                <input type="text" id="AddressCompanyNew" class="form-control" name="address[company]" value="{{ form.company }}" autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                                <input type="text" id="AddressAddress1New" class="form-control" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address1' | t }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                                <input type="text" id="AddressAddress2New" class="form-control" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}">
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                                    <select id="AddressCountryNew" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                                </div>
                                                <div class="col-xs-12 col-sm-6" id="AddressProvinceContainerNew" style="display:none">
                                                    <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                                    <select id="AddressProvinceNew" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                                                    <input type="text" id="AddressCityNew" class="form-control" name="address[city]" value="{{ form.city }}" autocapitalize="words" placeholder="{{ 'customer.addresses.city' | t }}">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                                                    <input type="text" id="AddressZipNew" class="form-control" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                                                <input type="tel" id="AddressPhoneNew" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                                            </div>
                                            <div class="checkbox">
                                                {{ form.set_as_default_checkbox }}
                                                <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                                            </div>
                                            <div class="form-button">
                                                <input type="submit" class="btn btnbingoOne" value="{{ 'customer.addresses.add' | t }}">
                                                <a class="btn btnbingoOne" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                            </div>
                                        </div>
                                    {% endform %}
                                </div>
                                <!-- List Address. Moded by: duchv -->
                                {%- if customer.addresses.size > 0 -%}
                                    <div class="addressList">
                                        {% paginate customer.addresses by 5 %}
                                            {% for address in customer.addresses %}
                                                <div class="addressBox">
                                                    <h3 class="addressBoxTitle">
                                                        {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                                                        {% if address == customer.default_address %}
                                                            <span class="label label-info">
                                                                {{ 'customer.addresses.default' | t }}
                                                            </span>
                                                        {% endif %}
                                                        <div class="addressBoxFunction">
                                                            {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}
                                                            {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
                                                        </div>
                                                    </h3>
                                                    <div class="addressBoxContent">
                                                        <h4 class="adressName">{{ address.first_name }} {{ address.last_name }}</h4>
                                                        <ul class="adressInfo list-unstyled">
                                                            <li>
                                                                <label>{{ 'customer.addresses.phone' | t }}:</label> {{ address.phone }}
                                                            </li>
                                                            {% if address.company != blank %}
                                                                <li><label>{{ 'customer.addresses.company' | t }}:</label> {{ address.company }}</li>
                                                            {% endif %}
                                                            <li>
                                                                <label>{{ 'customer.addresses.address' | t }}:</label> 
                                                                {{ address.street }}
                                                                , {{ address.city | capitalize }}
                                                                {% if address.province_code %}
                                                                    , {{ address.province_code | upcase }}
                                                                {% endif %}
                                                                &nbsp;{{ address.zip | upcase }}
                                                            </li>
                                                            <li>
                                                                <label>{{ 'customer.addresses.country' | t }}:</label> {{ address.country }}
                                                            </li>
                                                        </ul>
                                                        <div id="EditAddress_{{ address.id }}" class="formEditAddress" style="display:none;">
                                                            {% form 'customer_address', address %}
                                                                <h4 class="bingoAddressTitle">{{ 'customer.addresses.edit_address' | t }}</h4>
                                                                <div class="formContent">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                                                <input type="text" id="AddressFirstName_{{ form.id }}" class="form-control" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                                                                <input type="text" id="AddressLastName_{{ form.id }}" class="form-control" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                                                        <input type="text" id="AddressCompany_{{ form.id }}" class="form-control" name="address[company]" value="{{ form.company }}" autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                                                        <input type="text" id="AddressAddress1_{{ form.id }}" class="form-control" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address1' | t }}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                                                        <input type="text" id="AddressAddress2_{{ form.id }}" class="form-control" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                                                        <input type="text" id="AddressCity_{{ form.id }}" class="form-control" name="address[city]" value="{{ form.city }}" autocapitalize="words" placeholder="{{ 'customer.addresses.city' | t }}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                                                        <select id="AddressCountry_{{ form.id }}" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                                                    </div>
                                                                    <div class="form-group" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                                                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                                                        <select id="AddressProvince_{{ form.id }}" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                                                                <input type="text" id="AddressZip_{{ form.id }}" class="form-control" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t }}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                                                                <input type="tel" id="AddressPhone_{{ form.id }}" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        {{ form.set_as_default_checkbox }}
                                                                        <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                                                                    </div>
                                                                    <div class="form-button">
                                                                        <input type="submit" class="btn btnbingoOne" value="{{ 'customer.addresses.update' | t }}">
                                                                        <a class="btn btnbingoCancel" href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                                                    </div>
                                                                </div>
                                                            {% endform %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if paginate.pages > 1 %}
                                                <div class="pagination">
                                                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                                                </div>
                                            {% endif %}
                                        {% endpaginate %}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="accountReturn">
                        <a class="bingoLinkCancel" href="/account">{{ 'customer.account.return' | t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
            hideElement: 'AddressProvinceContainerNew'
        });
        {% for address in customer.addresses %}
            new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
                hideElement: 'AddressProvinceContainer_{{ address.id }}'}
            );
        {% endfor %}
        Shopify.CustomerAddress = {
            toggleForm: function(id) {
                var editEl = document.getElementById('EditAddress_'+id);
                editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
                return false;
            },
            toggleNewForm: function() {
                var el = document.getElementById('AddAddress');
                el.style.display = el.style.display == 'none' ? '' : 'none';
                return false;
            },
            destroy: function(id, confirm_msg) {
                if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
                    Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
                }
            }
        };
    });
</script>