{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div id="bingoAccountOrder" class="bingoAccountContainer">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    {% include 'bingo-account-sidebar' %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="bingoOrderBox">
                        <h4 class="bingoAccountTitle">{{ 'customer.order.title' | t: name: order.name }}</h4>
                        <div class="bingoContent">
                            <p class="orderCreatedAt">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
                            {% if order.cancelled %}
                                <div class="alert alert-danger">
                                    {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
                                    <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                                    <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
                                 </div>
                            {% endif %}
                            <div class="table-responsive">
                                <table class="table tableOrder">
                                    <thead>
                                        <tr>
                                            <th>{{ 'customer.order.product' | t }}</th>
                                            <th>{{ 'customer.order.sku' | t }}</th>
                                            <th>{{ 'customer.order.price' | t }}</th>
                                            <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
                                            <th class="text-right">{{ 'customer.order.total' | t }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for line_item in order.line_items %}
                                            <tr id="{{ line_item.id }}">
                                                <td>
                                                    {{ line_item.title | link_to: line_item.product.url }}
                                                    {% if line_item.fulfillment %}
                                                        <div class="note">
                                                            {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                                                            {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                                                            {% if line_item.fulfillment.tracking_number %}
                                                                <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td>{{ line_item.sku }}</td>
                                                <td>{{ line_item.price | money }}</td>
                                                <td class="text-right">{{ line_item.quantity }}</td>
                                                <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="orderTableBottom">
                                <div class="orderRowBottom">
                                    <label>{{ 'customer.order.subtotal' | t }}</label>
                                    <span>{{ order.subtotal_price | money }}</span>
                                </div>
                                {% for discount in order.discounts %}
                                    <div class="orderRowBottom">
                                        <label>{{ discount.code }} {{ 'customer.order.discount' | t }}</label>
                                        <span>{{ discount.savings | money }}</span>
                                    </div>
                                {% endfor %}
                                {% for shipping_method in order.shipping_methods %}
                                    <div class="orderRowBottom">
                                        <label>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</label>
                                        <span>{{ shipping_method.price | money }}</span>
                                    </div>
                                {% endfor %}
                                {% for tax_line in order.tax_lines %}
                                    <div class="orderRowBottom">
                                        <label>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</label>
                                        <span>{{ tax_line.price | money }}</span>
                                    </div>
                                {% endfor %}
                                <div class="orderRowBottom orderRowBottomTotal">
                                    <label>{{ 'customer.order.total' | t }}</label>
                                    <span>{{ order.total_price | money }} {{ order.currency }}</span>
                                </div>
                            </div>
                            <div class="orderAdreess">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="addressBox">
                                            <h4 class="addressBoxTitle">{{ 'customer.order.billing_address' | t }}</h4>
                                            <div class="alert alert-info"><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</div>
                                            <div class="addressBoxContent">
                                                <h5 class="adressName">{{ order.billing_address.name }}</h5>
                                                <ul class="adressInfo list-unstyled">
                                                    <li>
                                                        <label>{{ 'customer.addresses.phone' | t }}: </label>{{ order.billing_address.phone }}
                                                    </li>
                                                    {% if order.billing_address.company != blank %}
                                                        <li><label>{{ 'customer.addresses.company' | t }}: </label>{{ order.billing_address.company }}</li>
                                                    {% endif %}
                                                    <li>
                                                        <label>{{ 'customer.addresses.address' | t }}: </label>
                                                        {{ order.billing_address.street }}
                                                        , {{ order.billing_address.city }}
                                                        {% if order.billing_address.province != blank %}
                                                            , {{ order.billing_address.province }}
                                                        {% endif %}
                                                        &nbsp;{{ order.billing_address.zip | upcase }}
                                                    </li>
                                                    <li>
                                                        <label>{{ 'customer.addresses.country' | t }}: </label>{{ order.billing_address.country }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="addressBox">
                                            <h4 class="addressBoxTitle">{{ 'customer.order.shipping_address' | t }}</h4>
                                            <div class="alert alert-info"><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</div>
                                            <div class="addressBoxContent">
                                                <h5 class="adressName">{{ order.shipping_address.name }}</h5>
                                                <ul class="adressInfo list-unstyled">
                                                    <li>
                                                        <label>{{ 'customer.addresses.phone' | t }}: </label>{{ order.shipping_address.phone }}
                                                    </li>
                                                    {% if order.shipping_address.company != blank %}
                                                        <li><label>{{ 'customer.addresses.company' | t }}: </label>{{ order.shipping_address.company }}</li>
                                                    {% endif %}
                                                    <li>
                                                        <label>{{ 'customer.addresses.address' | t }}: </label>
                                                        {{ order.shipping_address.street }}
                                                        , {{ order.shipping_address.city }}
                                                        {% if order.shipping_address.province != blank %}
                                                            , {{ order.shipping_address.province }}
                                                        {% endif %}
                                                        &nbsp;{{ order.shipping_address.zip | upcase }}
                                                    </li>
                                                    <li>
                                                        <label>{{ 'customer.addresses.country' | t }}: </label>{{ order.shipping_address.country }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
