{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="bingoAccountContainer">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="formAccount">
                        <h1 class="bingoAccountTitle">{{ 'customer.reset_password.title' | t }}</h1>
                        {% form 'reset_customer_password' %}
                            <div class="formContent">
                                <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors | default_errors }}
                                    </div>
                                {% endif %}
                                <div class="form-group{% if form.errors contains 'password' %} has-error{% endif %}">
                                    <label for="ResetPassword" class="hidden">{{ 'customer.reset_password.password' | t }}</label>
                                    <input type="password" value="" name="customer[password]" id="ResetPassword" class="form-control" placeholder="{{ 'customer.reset_password.password' | t }}">
                                </div>
                                <div class="form-group{% if form.errors contains 'password_confirmation' %} has-error{% endif %}">
                                    <label for="PasswordConfirmation" class="hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
                                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="form-control" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btnbingoOne" value="{{ 'customer.reset_password.submit' | t }}">
                                </div>
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>