<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.bingo_color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">
  	{% if settings.favicon != blank %}
    	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  	{% endif %}
    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  	{%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  	<title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>
  	<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,900' rel='stylesheet' type='text/css'>
    {% if settings.bingo_fontfamily_style == 'google_fonts' %}
        <link href="https://fonts.googleapis.com/css?family={{ settings.bingo_fontfamily }}:400" rel="stylesheet" type="text/css">
    {% endif %}
    {% if settings.bingo_fontfamily_secondary_style == 'google_fonts' %}
        <link href="https://fonts.googleapis.com/css?family={{ settings.bingo_fontfamily_secondary }}:400" rel="stylesheet" type="text/css">
    {% endif %}
    {% if settings.bingo_fontfamily_tertiary_style == 'google_fonts' %}
        <link href="https://fonts.googleapis.com/css?family={{ settings.bingo_fontfamily_tertiary }}:400" rel="stylesheet" type="text/css">
    {% endif %}
    {{ 'bingo-fonts.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'bingo-site.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'gift-card.scss.css' | asset_url | stylesheet_tag }}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}"></script><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url | script_tag }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url | script_tag }}"></script><![endif]-->
  	{{ content_for_header }}
</head>
<body class="template-giftcard">
  {{ content_for_layout }}
  <script defer="defer">
    (function() {
      var config = {
        qrCode: '#QrCode',
        printButton: '#PrintGiftCard',
        giftCardCode: '#GiftCardDigits'
      };

      var $qrCode = $(config.qrCode);
      // eslint-disable-next-line no-new
      new QRCode($qrCode[0], {
        text: $qrCode.attr('data-identifier'),
        width: 120,
        height: 120
      });

      $(config.printButton).on('click', function() {
        window.print();
      });

      // Auto-select gift card code on click, based on ID passed to the function
      $(config.giftCardCode).on('click', {element: 'GiftCardDigits'}, selectText);

      function selectText(evt) {
        var text = document.getElementById(evt.data.element);
        var range = '';

        if (document.body.createTextRange) { // ms method
          range = document.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) { // moz, opera, webkit method
          var selection = window.getSelection();
          range = document.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);
        }
      }
    })();
  </script>
</body>
</html>
