<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.bingo_color_primary }}">
    {% include 'favicons' %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    {% capture seo_title %}
        {{ page_title }}
        {% if current_tags %}{%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{% endif %}
        {% if current_page != 1 %}&ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
        {% unless page_title contains shop.name %}&ndash; {{ shop.name }}{% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% include 'social-meta-tags' %}
    {% include 'bingo-header-styles' %}
    {% include 'bingo-header-javascript' %}
    {{ content_for_header }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | split: '.' | first }}{% if settings.header_float_enable %} bingoFloatHeader{% endif %}">
    {% include 'bingo-template' %}
    <div id="pageContainer" class="isMoved">
        {% include 'bingo-header-section' %}
        <main class="mainContent{% if settings.header_mobile_float %} mainMobileFixed{% endif %}">
            {{ content_for_layout }}
        </main>
        {% section 'bingo-footer' %}
    </div>
    {% include 'bingo-ajaxcart' %}
    {% include 'bingo-modal' %}
    {% include 'bingo-footer-javascript' %}
    {% include 'currencies' %}

    
 {% include 'sweettooth-initializer' %}

 {% include 'sweettooth-tab-widget' %}

</body>
</html>
