{% if section.settings.image_size != blank %}
    {%- assign imageSize = section.settings.image_size -%}
{% else %}
    {%- assign imageSize = 'master' -%}
{% endif %}
<section id="pageContent" class="page404">
    <div class="container">
        {% if section.settings.page404_image != blank %}
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="boxImage">
                    	<img class="img-responsive" alt="{{ section.settings.page404_image.alt | default: shop.name }}" src="{{ section.settings.page404_image | img_url: imageSize }}" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
        {% endif %}
                  	<div class="boxText">
                      	<h3 class="page404Title">{{ section.settings.page404_title }}</h3>
                      	<div class="page404Des">{{ section.settings.page404_description }}</div>
                  	</div>
                  	{% if section.settings.page404_btntext != blank %}
                        <div class="boxButton">
                          	<a class="btn btn404" href="{{ section.settings.page404_btnlink }}">{{ section.settings.page404_btntext }}</a>
                        </div>
                  	{% endif %}
        {% if section.settings.page404_image != blank %}
                </div>
            </div>
        {% endif %}
	</div>
</section>
{% schema %}
  	{
        "name": "Bingo 404 Page",
        "settings": [
			{
                "type": "text",
                "id": "image_size",
                "label": "Image size",
				"info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
			{
                "type": "image_picker",
                "id": "page404_image",
                "label": "404 image",
                "info": "Default Size: 762x219 pixels"
			},
			{
                "type": "text",
                "id": "page404_title",
                "label": "404 title",
                "placeholder": "Tittle of Page 404",
                "default": "Oop! this page can not be found"
			},
			{
                "type": "textarea",
                "id": "page404_description",
                "label": "404 description",
                "placeholder": "Description of Page 404",
                "default": "You may have mis-typed the URL. Or the page has been removed, had its name changed, or is temporarily unavailable. <br>Actually, there is nothing to see here..."
			},
			{
                "type": "text",
                "id": "page404_btntext",
                "label": "404 button text",
                "placeholder": "Text of Button",
                "default": "Back to homepage"
			},
			{
                "type": "text",
                "id": "page404_btnlink",
                "label": "404 button link",
                "placeholder": "Link of Button",
                "default": "/"
			}
		]
  	}
{% endschema %}