{%- assign sidebarTemplate = section.settings.sidebar_template -%}
<div class="row">
    {% if sidebarTemplate == 'sidebarleft' %}
        <aside class="bingoBlogSidebar col-xs-12 col-sm-4 col-md-3">
            {% include 'bingo-blogsidebar' %}
        </aside>
    {% endif %}
    {% if sidebarTemplate == 'sidebarnone' %}
        {%- assign postColumn = 'col-xs-12' -%}
    {% else %}
        {%- assign postColumn = 'col-xs-12 col-sm-8 col-md-9' -%}
    {% endif %}
    <div class="{{ postColumn }}">
        <article class="articleItem" itemscope itemtype="http://schema.org/Article">
            <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://google.com/article"/>
            <meta itemprop="headline" content="{{ article.title }}">
            <meta itemprop="author" content="{{ article.author }}">
            <meta itemprop="datePublished" content="{{ article.published_at | date: '%d %b, %Y' }}">
            <meta itemprop="dateModified" content="{{ article.published_at | date: '%d %b, %Y' }}">
            <div class="hidden" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="http:{{ article.image | img_url: 'master' }}">
                <meta itemprop="width" content="1170">
                <meta itemprop="height" content="800">
            </div>
            <div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="http:{{ 'logo.png' | file_img_url: 'master' }}">
                </div>
                <meta itemprop="name" content="{{ article.author }}">
            </div>
            <header class="articleHeader">
                <h1 class="bingoArticleTitle">{{ article.title }}</h1>
                <div class="metaArticle">
                    <div class="metaAuthor">
                        <span>{{ 'blogs.article.by' | t }}</span>
                        <strong>{{ article.author }}</strong>
                    </div>
                    <div class="metaDay">
                        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d %B, %Y' }}</time>
                    </div>
                </div>
            </header>
            {% if section.settings.article_featuredimage %}
                {% if article.image %}
                    <div class="articleFeaturedImage">
                        <img class="img-responsive" src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}" />
                    </div>
                {% endif %}
            {% endif %}
            <div class="rte" itemprop="description">
                {{ article.content }}
            </div>
            {% include 'bingo-article-tags' %}
        </article>
        {%- if blog.next_article or blog.previous_article -%}
            <div class="articleButtonExtend clearfix">
                {%- if blog.previous_article -%}
                    <div class="btnExtendLeft">
                        {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
                    </div>
                {%- endif -%}
                {%- if blog.next_article -%}
                    <div class="btnExtendRight">
                        {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
        {% include 'bingo-article-comment' %}
    </div>
    {% if sidebarTemplate == 'sidebarright' %}
        <aside class="bingoBlogSidebar col-xs-12 col-sm-4 col-md-3">
            {% include 'bingo-blogsidebar' %}
        </aside>
    {% endif %}
</div>
{% schema %}
    {
        "name": "Bingo Blog Detail",
        "settings": [
            {
                "type": "header",
                "content": "Blog Detail Settings"
            },
            {
                "type": "select",
                "id": "sidebar_template",
                "label": "Sidebar template",
                "default": "sidebarright",
                "options": [
                    {
                        "label": "No Sidebar",
                        "value": "sidebarnone"
                    },
                    {
                        "label": "Sidebar Right",
                        "value": "sidebarright"
                    },
                    {
                        "label": "Sidebar Left",
                        "value": "sidebarleft"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "article_featuredimage",
                "label": "Show featured image",
                "default": true
            },
            {
                "type": "header",
                "content": "Blog Sidebar Recent Articles"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_recentarticles_enable",
                "label": "Enable recent articles",
                "default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_title",
                "placeholder": "Title for block",
                "label": "Block title",
                "default": "Recent Articles"
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_limit",
                "placeholder": "Ex: 6",
                "label": "Number of article limit",
                "default": "6"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Banner"
            },
            {
                "type": "checkbox",
                "id": "blog_banner_enable",
                "label": "Enable banner",
                "default": true
            },
            {
                "type": "text",
                "id": "blog_banner_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)",
                "default": "270x270"
            },
            {
                "type": "text",
                "id": "blog_banner_link",
                "label": "Banner link"
            },
            {
                "type": "image_picker",
                "id": "blog_sidebar_image",
                "label": "Banner image"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Tags"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_tags_enable",
                "label": "Enable tags list",
                "default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_title",
                "placeholder": "Title for block",
                "label": "Block title",
                "default": "Articles tags"
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_limit",
                "placeholder": "Ex: 6",
                "label": "Number of tags limit",
                "default": "10"
            }
        ]
    }
{% endschema %}