<div class="newsletterHome">
    <div class="container">
        <div class="bingoNewsletterWrap"
        style="
        {% if section.settings.bgcolor != blank %}
            background-color: {{ section.settings.bgcolor }};
        {% endif %}
        {% if section.settings.bgimage != blank %}
            background-image: url({{ section.settings.bgimage | img_url: 'master' }});
        {% endif %}
        ">
            <h3 class="newsletterTitle">{{ section.settings.title }}</h3>
            <div class="bingoContent">
                {% if section.settings.description != blank %}
                    <div class="newsletterDescription">{{ section.settings.description }}</div>
                {% endif %}
                <div class="rf-widget" data-slug="newsletter-signup-form-0"></div>
            </div>
                <small class="signup-text-bottom">We have a strict No Spam policy and promise to only update you on the good stuff.</small>
        </div>
    </div>
</div>
<style type="text/css">
    .rf-subscription-form-container {
        margin: 0;
    }   
    .rf-preamble {
        display: none;
    }

    .rf-form {
        float: none;
        max-width: 380px;
        margin: 0 auto;
    }

    .rf-input {
        border: 1px solid #d3d3d3;
        padding: 17px 0 17px 15px;
        border-radius: 3px;
    }

      .rf-input::-moz-placeholder { 
         font-family: Quicksand, sans-serif;
         color:#aaa;
         font-size:12px;
         letter-spacing:.07em;
         font-weight: 300;
     }
     .rf-input:-ms-input-placeholder { 
         font-family: Quicksand, sans-serif;
         color:#aaa;
         font-size:12px;
         letter-spacing:.07em;
         font-weight: 300;
     }
     .rf-input::-ms-input-placeholder {
         font-family: Quicksand, sans-serif;
         color:#aaa;
         font-size:12px;
         letter-spacing:.07em;
         font-weight: 300;
     }
     .rf-input::placeholder { 
        font-family: Quicksand, sans-serif;
        color:#aaa;
        font-size:12px;
        letter-spacing:.07em;
        font-weight: 300;
     }

     .rf-form button {
         width: 100%;
         background-color: #353535;
         margin-left: 0;
         padding: 0;
         height: 40px;
         line-height: 40px;
         margin-top:5px;
         text-transform: uppercase;
         font-size: 15px;
         font-family: "Open Sans",sans-serif !important;
         font-weight: 400;
         letter-spacing: .2rem;
     }
     .signup-text-bottom {
        font-size: 13px;
        display: block;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
     }
     @media (max-width: 479px) {
         .signup-text-bottom {
            color: #757575;
            font-size: 12px;
            padding-top: 10px;
            padding-bottom: 40px;
         }
         .bingoNewsletterWrap .newsletterTitle {
             font-size: 28px;
             padding-top: 30px;
         }
     }
</style>
{% schema %}
    {
        "name": "Bingo Newsletter",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "color",
                "id": "bgcolor",
                "label": "Background color",
                "default": "#f9b61e"
            },

            {
                "type" : "color",
                "id" : "newsBtnColor",
                "label" : "Button color"
            },

            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image",
                "info": "Default size: 1170x414 pixels"
            },
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for block",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "description",
                "placeholder": "Description for block",
                "label": "Description"
            },
            {
                "type": "checkbox",
                "id": "mailchimp",
                "label": "Use mailChimp",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
            },
            {
                "type": "text",
                "id": "form_action",
                "label": "MailChimp form action URL",
                "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
            }
        ],
        "presets": [
            {
                "name": "Bingo Newsletter",
                "category": "5. Bingo Newsletter",
				"settings": {
					"title": "Bingo Newsletter"
				}
            }
        ]
	}
{% endschema %}