<div class="homeThreeBox">
    <div class="container">
        <div class="threeBoxHtml">
            <div class="boxRow {{ section.settings.layout }}">
                <div class="boxLeft">
                    <div class="homeBoxCategory one">
                        <div class="boxImage">
                            <a href="{{ section.settings.link1 }}" title="{{ section.settings.image1.alt | default: shop.name }}">
                                {%- if section.settings.image1 != blank -%}
                                    <img class="img-responsive" alt="{{ section.settings.image1.alt | default: shop.name }}" src="{{ section.settings.image1 | img_url:'master' }}" />
                                {%- else -%}
                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/805x700" />
                                {%- endif -%}
                            </a>
                        </div>
                        <div class="boxContent">
                            {%- if section.settings.subtitle1 != blank -%}
                                <div class="desc">{{ section.settings.subtitle1 }}</div>
                            {%- endif -%}
                            {%- if section.settings.title1 != blank -%}
                                <h4 class="title">
                                    <a href="{{ section.settings.link1 }}" title="{{ section.settings.title1 }}">
                                        {{ section.settings.title1 }}
                                    </a>
                                </h4>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                <div class="boxRight">
                    <div class="homeBoxCategory two">
                        <div class="boxImage">
                            <a href="{{ section.settings.link2 }}" title="{{ section.settings.image2.alt | default: shop.name }}">
                                {%- if section.settings.image2 != blank -%}
                                    <img class="img-responsive" alt="{{ section.settings.image2.alt | default: shop.name }}" src="{{ section.settings.image2 | img_url:'master' }}" />
                                {%- else -%}
                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/605x335" />
                                {%- endif -%}
                            </a>
                        </div>
                        <div class="boxContent">
                            {%- if section.settings.subtitle1 != blank -%}
                                <div class="desc">{{ section.settings.subtitle2 }}</div>
                            {%- endif -%}
                            {%- if section.settings.title1 != blank -%}
                                <h4 class="title">
                                    <a href="{{ section.settings.link2 }}" title="{{ section.settings.title2 }}">
                                        {{ section.settings.title2 }}
                                    </a>
                                </h4>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="homeBoxCategory three">
                        <div class="boxImage">
                            <a href="{{ section.settings.link3 }}" title="{{ section.settings.image3.alt | default: shop.name }}">
                                {%- if section.settings.image3 != blank -%}
                                    <img class="img-responsive" alt="{{ section.settings.image3.alt | default: shop.name }}" src="{{ section.settings.image3 | img_url:'master' }}" />
                                {%- else -%}
                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/605x335" />
                                {%- endif -%}
                            </a>
                        </div>
                        <div class="boxContent">
                            {%- if section.settings.subtitle1 != blank -%}
                                <div class="desc">{{ section.settings.subtitle3 }}</div>
                            {%- endif -%}
                            {%- if section.settings.title1 != blank -%}
                                <h4 class="title">
                                    <a href="{{ section.settings.link3 }}" title="{{ section.settings.title3 }}">
                                        {{ section.settings.title3 }}
                                    </a>
                                </h4>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Three Box",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for Block",
                "label": "Title"
            },
            {
                "type": "select",
                "id": "layout",
                "label": "Select layout",
                "default": "layoutOne",
                "options":[
                    {
                        "value": "layoutOne",
                        "label": "Layout One"
                    },
                    {
                        "value": "layoutTwo",
                        "label": "Layout Two"
                    }
                ]
            },
            {
                "type": "header",
                "content": "1st Box"
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "Box image"
            },
            {
                "type": "url",
                "id": "link1",
                "label": "Box URL"
            },
            {
                "type": "text",
                "id": "title1",
                "label": "Box title",
                "placeholder": "Box title"
            },
            {
                "type": "text",
                "id": "subtitle1",
                "label": "Box subtitle",
                "placeholder": "Box subtitle"
            },
            {
                "type": "header",
                "content": "2nd Box"
            },
            {
                "type": "image_picker",
                "id": "image2",
                "label": "Box image"
            },
            {
                "type": "url",
                "id": "link2",
                "label": "Box URL"
            },
            {
                "type": "text",
                "id": "title2",
                "label": "Box title",
                "placeholder": "Box title"
            },
            {
                "type": "text",
                "id": "subtitle2",
                "label": "Box subtitle",
                "placeholder": "Box subtitle"
            },
            {
                "type": "header",
                "content": "3rd Box"
            },
            {
                "type": "image_picker",
                "id": "image3",
                "label": "Box image"
            },
            {
                "type": "url",
                "id": "link3",
                "label": "Box URL"
            },
            {
                "type": "text",
                "id": "title3",
                "label": "Box title",
                "placeholder": "Box title"
            },
            {
                "type": "text",
                "id": "subtitle3",
                "label": "Box subtitle",
                "placeholder": "Box subtitle"
            }
        ],
		"presets": [
            {
                "name": "Bingo Three Box",
                "category": "4. Bingo Image"
            }
        ]
    }
{% endschema %}