<footer id="footer">
    <div class="footerWrap">
        <div class="container">
            <div class="bingoFooterRow flexRow">
                <div class="footerColOne">
                    <div class="footerLogo">
                        {% if section.settings.footer_top_logo != blank %}
                            <a href="{{ section.settings.footer_top_logolink }}">
                                <img class="img-responsive" alt="{{ section.settings.footer_top_logo.alt | default: shop.name }}" src="{{ section.settings.footer_top_logo | img_url: 'master' }}" />
                            </a>
                        {% else %}
                            <a href="{{ section.settings.footer_top_logolink }}">
                                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/122x50" />
                            </a>
                        {% endif %}
                    </div>
                    <div class="bingoCopyRight" style="margin-bottom:0;">{{ section.settings.footer_copyright }}</div>

                    <ul style="padding-left:0;" class="bingoFooterLinks list-unstyled">
                     {% for bottomLink in linklists['bottom-information-links'].links %}
                        <li style="padding:0 0 5px 0;"><a href="{{ bottomLink.url }}"><i style="font-size:12px">{{ bottomLink.title }}</i></a></li>   
                     {% endfor %}
                    </uL>
                    <div class="footerNewsletter">
                        <div class="bingoContent">
                            {% if section.settings.mailchimp %}
                                {%- assign form_action = section.settings.form_action -%}
                                <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="formNewsletter clearfix">
                                    <div class="form-group">
                                        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="form-control" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                        <button id="subscribe" class="btn btnNewsletter" type="submit">
                                            <i class="fa fa-paper-plane-o"></i>
                                            <span>{{ 'general.newsletter_form.submit' | t }}</span>
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                {% comment %}
                                 {% comment %} SUBSCRIBE FORM {% endcomment %}
                                        {% form 'customer' %}
                                        {%- if form.posted_successfully? -%}
                                            <script type="text/javascript">
                                                $(document).ready(function() {
                                                    //$('#newsletterAlert').modal();
                                                });
                                            </script>
                                        {%- endif -%}
                                        <div class="form-group">
                                            <input class="form-control" id="newsletter-input" type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                            <button class="btn btnNewsletter" type="submit">
                                                <i class="fa fa-paper-plane-o"></i>
                                                <span>{{ 'general.newsletter_form.submit' | t }}</span>
                                            </button>
                                            <input type="hidden" name="action" value="0">
                                        </div>
                                    {% endform %} 
                                {% endcomment %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="footerMenu footerColTwo">
                    {%- assign menuTitle = section.settings.footermenu_title1 -%}
                    {%- assign menuHandle = section.settings.footermenu_handle1 -%}
                    {% include 'bingo-footer-menu' %}
                </div>
                <div class="footerMenu footerColTwo">
                {%- assign menuTitle = section.settings.footermenu_title2 -%}
                    {%- assign menuHandle = section.settings.footermenu_handle2 -%}
                    {% comment %} {% include 'bingo-footer-menu' %} {% endcomment %}
                    
                    {% comment %} FOOTER MENU FOR MY ACCOUNT  {% endcomment %}
                        <div class="bingoFooter">
                            <h4 class="bingoFooterTitle">{{ menuTitle }}</h4>
                            <div class="bingoContent">
                                <ul class="bingoFooterLinks list-unstyled">
                                        
                                    {% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
                                        {% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
                                        {% assign login_html = 'layout.header.login_html' | t:fullname:fullname %}
                                        {% assign logout = 'layout.header.logout' | t %}
                                        {% assign login = 'layout.header.login' | t %}
                                        {% assign register = 'layout.header.register' | t %}
                                        {% if customer  %}
                                            <li><a class="account" rel="nofollow" href="/account">{{ login_html }}</a></li>
                                        {% else %}
                                            <li>{{ login | customer_login_link }}</li>
                                            <li>{{ register | customer_register_link }}</li>
                                        {% endif %}
                                    {% endif %}
                                    {% assign topbarMenu = section.settings.topbar_toplinks %}
                                    {% for itemMenu in linklists[topbarMenu].links %}
                                        <li><a href="{{ itemMenu.url }}" title="">{{ itemMenu.title }}</a></li>
                                    {% endfor %}
                                    
                                    {% for bingoLink in linklists[menuHandle].links %}
                                                <li class="{% if bingoLink.active %}active{% endif %}">
                                                    <a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
                                                </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    {% comment %} END FOOTER MENU FOR MY ACCOUNT  {% endcomment %}

                </div>
                <div class="footerMenu footerColTwo">
                {%- assign menuTitle = section.settings.footermenu_title3 -%}
                    {%- assign menuHandle = section.settings.footermenu_handle3 -%}
                    {% include 'bingo-footer-menu' %}
                </div>
                <div class="footerColThree">
                    {%- assign socialEnable = section.settings.footer_socials_enable -%}
                    {%- assign socialTitle = "" -%}
                    {%- assign socialFacebook = section.settings.social_facebook -%}
                    {%- assign socialTwitter = section.settings.social_twitter -%}
                    {%- assign socialInstagram = section.settings.social_instagram -%}
                    {%- assign socialPinterest = section.settings.social_pinterest -%}
                    {%- assign socialYoutube = section.settings.social_youtube -%}
                    {%- assign socialGooglePlus = section.settings.social_googleplus -%}
                    {%- assign socialRss = section.settings.social_rss -%}
                    <div class="footerSocial bingoFooter">
                        <h4 class="bingoFooterTitle">{{ section.settings.social_title }}</h4>
                        <div class="bingoContent">
                            {% include 'bingo-social' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% schema %}
  	{
        "name": "Footer",
        "max_blocks": 4,
        "settings": [
            {
                "type": "header",
                "content": "Footer Logo"
            },
            {
                "type": "image_picker",
                "id": "footer_top_logo",
                "label": "Footer logo"
            },
            {
                "type": "text",
                "id": "footer_top_logolink",
                "label": "Footer logo link",
                "default": "/"
            },
            {
                "type": "header",
                "content": "Footer Copyright"
            },
            {
                "type": "text",
                "id": "footer_copyright",
                "label": "Copyright",
                "placeholder": "Copyright"
            },
            {
                "type": "header",
                "content": "Footer Newsletter"
            },
            {
                "type": "text",
                "id": "newsletter_title",
                "placeholder": "Title for block",
                "label": "Title"
            },
            {
                "type": "checkbox",
                "id": "newsletter_mailchimp",
                "label": "Use mailChimp",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
            },
            {
                "type": "text",
                "id": "newsletter_form_action",
                "label": "MailChimp form action URL",
                "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
            },
            {
                "type": "header",
                "content": "1st Footer Menu"
            },
            {
                "type": "text",
                "id": "footermenu_title1",
                "placeholder": "Menu title",
                "label": "Title"
            },
            {
                "type": "link_list",
                "id": "footermenu_handle1",
                "label": "Menu"
            },
            {
                "type": "header",
                "content": "2nd Footer Menu"
            },
            {
                "type": "text",
                "id": "footermenu_title2",
                "placeholder": "Menu title",
                "label": "Title"
            },
            {
                "type": "link_list",
                "id": "footermenu_handle2",
                "label": "Menu"
            },
            {
                "type": "header",
                "content": "3rd Footer Menu"
            },
            {
                "type": "text",
                "id": "footermenu_title3",
                "placeholder": "Menu title",
                "label": "Title"
            },
            {
                "type": "link_list",
                "id": "footermenu_handle3",
                "label": "Menu"
            },
            {
                "type": "header",
                "content": "Footer Socials"
            },
            {
                "type": "checkbox",
                "id": "footer_socials_enable",
                "label": "Show footer socials"
            },
            {
                "type": "text",
                "id": "social_title",
                "placeholder": "Title for Block",
                "label": "Block title"
            },
            {
                "type": "text",
                "id": "social_facebook",
                "placeholder": "Link your Facebook",
                "label": "Facebook URL"
            },
            {
                "type": "text",
                "id": "social_twitter",
                "placeholder": "Link your Twitter",
                "label": "Twitter URL"
            },
            {
                "type": "text",
                "id": "social_instagram",
                "placeholder": "Link your Instagram",
                "label": "Instagram URL"
            },
            {
                "type": "text",
                "id": "social_pinterest",
                "placeholder": "Link your Pinterest",
                "label": "Pinterest URL"
            },
            {
                "type": "text",
                "id": "social_youtube",
                "placeholder": "Link your Youtube",
                "label": "Youtube URL"
            },
            {
                "type": "text",
                "id": "social_googleplus",
                "placeholder": "Link your Googleplus",
                "label": "Googleplus URL"
            },
            {
                "type": "text",
                "id": "social_rss",
                "placeholder": "Link your Rss",
                "label": "Rss URL"
            }
		],
		"blocks": [
			{
                "type": "link",
                "name": "Footer Menu",
                "settings": [
					{
                        "type": "text",
                        "id": "menu_class",
                        "label": "Class",
						"default": "col-xs-12 col-sm-4"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "link_list",
                        "id": "menu_handle",
                        "label": "Choose menu",
                        "info": "Choose menu for block. Add new menu: Admin -> Navigation"
                    }
                ]
            }
		]
	}
{% endschema %}