{% if section.settings.image_size != blank %}
    {%- assign imageSize = section.settings.image_size -%}
{% else %}
    {%- assign imageSize = 'master' -%}
{% endif %}
<div class="container">
    {% if section.settings.title != blank %}
        <h3 class="bingoHomeTitle">{{ section.settings.title }}</h3>
    {% endif %}
    <div class="bingoBanner">
        <div class="{{ section.settings.effect }}">
            {% if section.settings.link != blank %}<a href="{{ section.settings.link }}" title="{{ section.settings.image.alt | default: shop.name }}">{% endif %}
                {% if section.settings.image != blank %}
                    <img class="img-responsive" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url: imageSize }}" />
                {% else %}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                {% endif %}
            {% if section.settings.link != blank %}</a>{% endif %}
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Banner",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for Block",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
				"info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "text",
                "id": "link",
                "label": "Image link"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner image"
            },
            {
                "type": "select",
                "id": "effect",
                "label": "Effect",
				"default": "effectOne",
                "options": [
					{
                        "value": "effectNone",
                        "label": "None"
                    },
                    {
                        "value": "effectOne",
                        "label": "Effect one"
                    },
                    {
                        "value": "effectTwo",
                        "label": "Effect two"
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "Bingo Banner",
                "category": "4. Bingo Image"
            }
        ]
    }
{% endschema %}