{% comment %} ===> Setting up background images {% endcomment %}
        {% if section.settings.bgImage_3 != blank %}
            {% capture cssBannerImage3 %}background-image: url({{ section.settings.bgImage_3 | img_url: 'master' }});{% endcapture %}
        {% else %}
            {% capture cssBannerImage3 %}background-color: #f5f5f5;{% endcapture %}
        {% endif %}

        {% if section.settings.bgImage_4 != blank %}
            {% capture cssBannerImage4 %}background-image: url({{ section.settings.bgImage_4 | img_url: 'master' }});{% endcapture %}
        {% else %}
            {% capture cssBannerImage4 %}background-color: #f5f5f5;{% endcapture %}
        {% endif %}

        {% if section.settings.bgImage_5 != blank %}
            {% capture cssBannerImage5 %}background-image: url({{ section.settings.bgImage_5 | img_url: 'master' }});{% endcapture %}
        {% else %}
            {% capture cssBannerImage5 %}background-color: #f5f5f5;{% endcapture %}
        {% endif %}

{% comment %} ===> Buttons links {% endcomment %}
        {% if section.settings.buttonlink1 != blank %}
            {% assign input1 = section.settings.buttonlink1 %}
            {% assign firstSymbolOfInput1 = input1 | slice:0, 1 %}                    
        {% endif %}
        {% if section.settings.buttonlink2 != blank %}
            {% assign input2 = section.settings.buttonlink2 %}
            {% assign firstSymbolOfInput2 = input2 | slice:0, 1 %}                    
        {% endif %}
        {% if section.settings.buttonlink3 != blank %}
            {% assign input3 = section.settings.buttonlink3 %}
            {% assign firstSymbolOfInput3 = input3 | slice:0, 1 %}                    
        {% endif %}
        {% if section.settings.buttonlink4 != blank %}
            {% assign input4 = section.settings.buttonlink4 %}
            {% assign firstSymbolOfInput4 = input4 | slice:0, 1 %}                    
        {% endif %}
        {% if section.settings.buttonlink5 != blank %}
            {% assign input5 = section.settings.buttonlink5 %}
            {% assign firstSymbolOfInput5 = input5 | slice:0, 1 %}                    
        {% endif %}


{% comment %} ===> Check if the input is a tag {% endcomment %}
        {% if firstSymbolOfInput1 == '#' and input1 contains '#' %}
            {% assign cleanInput1 = input1 | remove: '#'  %}                  
            {% capture url1 %}/collections/all/{{ cleanInput1 }}{% endcapture %} 
        {% else %} 
            {% capture url1 %}{{ input1 }}{% endcapture %}       
        {% endif %}

        {% if firstSymbolOfInput2 == '#' and input2 contains '#' %}
            {% assign cleanInput2 = input2 | remove: '#'  %}                  
            {% capture url2 %}/collections/all/{{ cleanInput2 }}{% endcapture %}         
        {% else %}        
            {% capture url2 %}{{ input2 }}{% endcapture %}
        {% endif %}
        
        {% if firstSymbolOfInput3 == '#' and input3 contains '#' %}
            {% assign cleanInput3 = input3 | remove: '#'  %}                  
            {% capture url3 %}/collections/all/{{ cleanInput3 }}{% endcapture %}         
        {% else %}        
            {% capture url3 %}{{ input3 }}{% endcapture %}       
        {% endif %}
        
        {% if firstSymbolOfInput4 == '#' and input4 contains '#' %}
            {% assign cleanInput4 = input4 | remove: '#'  %}                  
            {% capture url4 %}/collections/all/{{ cleanInput4 }}{% endcapture %}         
        {% else %}        
            {% capture url4 %}{{ input4 }}{% endcapture %}       
        {% endif %}
        
        {% if firstSymbolOfInput5 == '#' and input5 contains '#' %}
            {% assign cleanInput5 = input5 | remove: '#'  %}                  
            {% capture url5 %}/collections/all/{{ cleanInput5 }}{% endcapture %}         
        {% else %}        
            {% capture url5 %}{{ input5 }}{% endcapture %}       
        {% endif %}
{% comment %} ===> Banner heading {% endcomment %}
        {% if section.settings.bannerTitle_1 != blank%}
        {% assign bannerHeading1 = section.settings.bannerTitle_1 %}
        {% endif %}

        {% if section.settings.bannerTitle_2 != blank%}
        {% assign bannerHeading2 = section.settings.bannerTitle_2 %}
        {% endif %}

{% comment %} ===> Button text {% endcomment %}
        {% if section.settings.buttonTitle1 != blank %}
            {% assign buttonText1 = section.settings.buttonTitle1 %}
        {% endif %}
        {% if section.settings.buttonTitle2 != blank %}
            {% assign buttonText2 = section.settings.buttonTitle2 %}
        {% endif %}
        {% if section.settings.buttonTitle3 != blank %}
            {% assign buttonText3 = section.settings.buttonTitle3 %}
        {% endif %}
        {% if section.settings.buttonTitle4 != blank %}
            {% assign buttonText4 = section.settings.buttonTitle4 %}
        {% endif %}
        {% if section.settings.buttonTitle5 != blank %}
            {% assign buttonText5 = section.settings.buttonTitle5 %}
        {% endif %}

<div class="section-default-banner container" style="padding: 0px 0 30px 0;">
    <div class="row">
        {% if section.settings.sectionTitle != blank %}
            <div class="col-md-12">
                <h3 class="bingoHomeTitle section-default-banner-heading">{{ section.settings.sectionTitle }}</h3>
            </div>
        {% endif %}
    </div>
    
        {% comment %} START OF REFACTOR {% endcomment %}
        <div class="row">
                <div class="custom-banner_01 custom-banner_01--top col-md-6">
                    <div class="custom-banner_01__inner">
                        <img src="{{ section.settings.bgImage_1 |  img_url: 'master' }}" class="custom-banner_01__image img-responsive" />
                        <div class="custom-banner_01__content">
                            <h3 class="custom-banner_01__heading">{{ bannerHeading1 }}</h3>
                            <a href="{{ url1 }}" class="custom-banner_01__btn">{{ buttonText1 }}</a>
                        </div>
                    </div>
                </div>

                <div class="custom-banner_01 custom-banner_01--top col-md-6">
                    <div class="custom-banner_01__inner">
                        <img src="{{ section.settings.bgImage_2 |  img_url: 'master' }}" class="custom-banner_01__image img-responsive" />
                        <div class="custom-banner_01__content">
                            <h3 class="custom-banner_01__heading">{{ bannerHeading2 }}</h3>
                            <a href="{{ url2 }}" class="custom-banner_01__btn">{{ buttonText2 }}</a>
                        </div>
                    </div>
                </div>
        </div>

       <div class="row">
            <div class="custom-banner_01 custom-banner_01--bottom col-md-4">
                <div class="custom-banner_01__inner">
                    <div class="custom-banner_01__image overlay" ></div>
                    <div class="custom-banner_01__overlay" style="{{ cssBannerImage3 }}"></div>
                    <div class="custom-banner_01__content">
                        <a class="custom-banner_01__btn" href="{{ url3 }}">{{ buttonText3 }}</a>
                    </div>
                </div>
            </div>
            
            <div class="custom-banner_01 custom-banner_01--bottom col-md-4">
                <div class="custom-banner_01__inner">
                    <div class="custom-banner_01__image overlay" ></div>
                    <div class="custom-banner_01__overlay" style="{{ cssBannerImage4 }}"></div>
                    <div class="custom-banner_01__content">
                        <a class="custom-banner_01__btn" href="{{ url4 }}">{{ buttonText4 }}</a>
                    </div>
                </div>
            </div>

            <div class="custom-banner_01 custom-banner_01--bottom col-md-4">
                <div class="custom-banner_01__inner">
                    <div class="custom-banner_01__image overlay"></div>
                    <div class="custom-banner_01__overlay" style="{{ cssBannerImage5 }}"></div>
                    <div class="custom-banner_01__content">
                        <a class="custom-banner_01__btn" href="{{ url5 }}">{{ buttonText5 }}</a>
                    </div>
                </div>
            </div>
       </div>
        {% comment %} ##### END OF REFACTOR {% endcomment %}

</div>

{% stylesheet %}
    .section-default-banner-heading {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 50px;
    }
    .section-default-banner-heading:before,
    .section-default-banner-heading:after {
        display: none;
    }
    .section-default-banner {
        position: relative;
        overflow: hidden;
    }
    .custom-banner_01 {
        margin-bottom: 30px;
    }
    .custom-banner_01__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        transition: all 500ms;
        background-size: cover;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .custom-banner_01--top .custom-banner_01__inner{
        height:500px;
        background:#f5f5f5;
    } 
    .custom-banner_01--top .custom-banner_01__btn {
        background-color:#343434;
        font-size:16px;
        text-transform:uppercase;
        font-weight:700;
        padding:7px 40px;
        color:#fff;
        border: none;
        display: inline-block;
        transition: all 300ms;
    }
    .custom-banner_01--top .custom-banner_01__content {
        position:absolute;
        bottom: 40px;
    }
    .custom-banner_01--top .custom-banner_01__heading {
        font-style:italic;
        font-size:34px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .custom-banner_01--bottom .custom-banner_01__btn {
        border:2px solid #fff;
        font-size:38px;
        padding: 8px 70px;
        background:transparent;
        font-style: italic;
        font-weight: 300;
        transition: all 300ms;    
        color: #fff;    
        position: relative;
    }
    .custom-banner_01--bottom .custom-banner_01__btn:after { 
        content: "";
        padding: 8px 70px;
        background:transparent;
        color: #fff;    
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    @keyframes scaleBtn {
        0% {
            opacity: .5;
            transform: scale(1.4, 1.6);
            z-index: 10;           
            background-color: rgba(255,255,255,0);  
        }

        100% {
            opacity: 0;
            transform: scale(1, 1);
            z-index: -1; 
            background-color: rgba(255,255,255,.9);
        }
    }
    .custom-banner_01--bottom .custom-banner_01__content { 
        transition: all 300ms;
    }
    .custom-banner_01--bottom:hover .custom-banner_01__btn:after {
        animation: scaleBtn 500ms;
    }
    .custom-banner_01__btn:hover,
    .custom-banner_01__btn:active ,
    .custom-banner_01__btn:focus  {
        text-decoration: none;
    }
    .custom-banner_01 .custom-banner_01__btn:hover { 
        opacity: 0.8;
        text-decoration: none;
        color:#fff;
    }
    .custom-banner_01--bottom .custom-banner_01__inner {
        height:330px;
        background:#f5f5f5;
    } 
    .custom-banner_01--bottom {
        margin-bottom: 10px;
    }
    .custom-banner_01--bottom .custom-banner_01__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        transition: all 500ms;
    }
    .custom-banner_01__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        transition: all 500ms;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .custom-banner_01__content {
        position: relative;
        z-index:10; 
        text-align: center;
        width: 100%;
    }
    .custom-banner_01__link {
        text-decoration:none;
    }
    .custom-banner_01__heading {
        text-align: center;
        text-decoration: none;
        border: none;
        transition: all 500ms;
    }
    .custom-banner_01--top .custom-banner_01__image {
        max-width: 320px; 
        margin: -100px auto 0 auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .custom-banner_01--bottom .custom-banner_01__inner {
            height: 450px;
        }
    }

    @media screen and (max-width: 479px) {
        .custom-banner_01--bottom .custom-banner_01__inner {
            {% comment %} height: 320px; {% endcomment %}
        }
        .section-default-banner-heading {
            width: 100%;
            font-size: 28px;
            margin-bottom: 10px;
        }

        .custom-banner_01--top .custom-banner_01__content {
            position: static;
        }

        .custom-banner_01--top .custom-banner_01__heading {
            position: absolute;
            top: 20px;
            width: 100%;
            margin: 0;
            font-size: 30px;
        }

        .custom-banner_01--top .custom-banner_01__inner {
            height: auto;
            padding: 70px 0 25px 0;
        }
        
        .custom-banner_01--top .custom-banner_01__image {
            max-width: 220px; 
            margin: 0px auto 0 auto;
        }

        .custom-banner_01--top .custom-banner_01__btn {
            margin-top: 10px;
        }

        .custom-banner_01 {
            margin-bottom: 10px;
        }
    }
{% endstylesheet %}

{% schema %}
   {
        "name": "Custom Banners One",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "sectionTitle",
                "label": "Heading",
                "default": "Banner section"
            },
            {
                "type": "header",
                "content": "1. BANNER IMAGE"
            },
            {
                "type": "image_picker", 
                "id": "bgImage_1",
                "label": "Image"
            },
            {
                "type": "image_picker", 
                "id": "bgImage_2",
                "label": "Image"
            },
            {
                "type": "image_picker", 
                "id": "bgImage_3",
                "label": "Image"
            },
            {
                "type": "image_picker", 
                "id": "bgImage_4",
                "label": "Image"
            },
            {
                "type": "image_picker", 
                "id": "bgImage_5",
                "label": "Image"
            },
            {
                "type": "header",
                "content": "2. BANNER TITLE"
            },
            {
                "type": "text",
                "id": "bannerTitle_1",
                "label": "Banner heading text",
                "default": "Banner heading"
            },
            {
                "type": "text",
                "id": "bannerTitle_2",
                "label": "Banner heading text",
                "default": "Banner heading"
            },
            {
                "type": "header",
                "content": "3. BANNER BUTTON"
            },
            {
                "type": "text",
                "id": "buttonTitle1",
                "label": "Button text",
                "default": "Shop the collection"
            },
            {
                "type": "url",
                "id": "buttonlink1",
                "label": "Button #1 URL"
            },
            {
                "type": "text",
                "id": "buttonTitle2",
                "label": "Button text",
                "default": "Shop the collection"
            },
            {
                "type": "url",
                "id": "buttonlink2",
                "label": "Button #2 URL"
            },
            {
                "type": "text",
                "id": "buttonTitle3",
                "label": "Button text",
                "default": "Face"
            },
            {
                "type": "url",
                "id": "buttonlink3",
                "label": "Button #3 URL"
            },
            {
                "type": "text",
                "id": "buttonTitle4",
                "label": "Button text",
                "default": "Eyes"
            },
            {
                "type": "url",
                "id": "buttonlink4",
                "label": "Button #4 URL"
            },
            {
                "type": "text",
                "id": "buttonTitle5",
                "label": "Button text",
                "default": "Lips"
            },
            {
                "type": "url",
                "id": "buttonlink5",
                "label": "Button #5 URL"
            },
            {
                "type":   "range",
                "id":       "buttonFontSize",
                "min":       0,
                "max":       64,
                "step":      1,
                "unit":      "px",
                "label":     "Button font-size",
                "default":   16
            }
        ],
           "blocks": [
            {
                "type": "image",
                "name": "Image banner",
                "settings": []
            }
        ],
		"presets": [
            {
                "name": "Custom Banner One",
                "category": "7. Custom Banner"
            }
        ]
    }
{% endschema %}