{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
{% if section.settings.image_size != blank %}
    {%- assign logoSize = section.settings.image_size -%}
{% else %}
    {%- assign logoSize = 'master' -%}
{% endif %}
<div class="homeLogoCarousel">
    <div class="container">
        <div class="logoCarousel">
            {% if section.settings.title != blank %}
                <h3 class="bingoHomeTitle hidden">{{ section.settings.title }}</h3>
            {% endif %}
            <div class="bingoContent">
                <div class="bingoOwlRow owlCarouselPlay">
                    <div class="owl-carousel"   data-nav="{{ section.settings.navigation }}" 
                                                data-autoplay="{{ section.settings.autoplay }}" 
                                                data-autospeed="{{ section.settings.autoplay_speed }}" 
                                                data-speed="{{ section.settings.speed }}" 
                                                data-columnone="{{ owlColumn1 }}" 
                                                data-columntwo="{{ owlColumn2 }}" 
                                                data-columnthree="{{ owlColumn3 }}"
                                                data-columnfour="{{ owlColumn4 }}" 
                                                data-columnfive="{{ owlColumn5 }}">
                        {% for block in section.blocks %}
                            <div class="item">
                                <div class="logoImage">
                                    {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                                        {% if block.settings.image != blank %}
                                            <img class="img-responsive" alt="{{ block.settings.image.alt | default: shop.name }}" src="{{ block.settings.image | img_url: logoSize }}" />
                                        {% else %}
                                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ logoSize }}" />
                                        {% endif %}
                                    {% if block.settings.link != blank %}</a>{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Logo List",
        "class": "bingoFramework",
        "max_blocks": 18,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "placeholder": "Title of section"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "default": "288x100",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "select",
                "id": "column1",
                "label": "#Column 1",
                "default": "4",
                "info": "Large desktops",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    },
                    {
                        "value": "6",
                        "label": "6"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column2",
                "label": "#Column 2",
                "default": "3",
                "info": "Desktops & Tablets landscape",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    },
                    {
                        "value": "6",
                        "label": "6"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column3",
                "label": "#Column 3",
                "info": "Tablets",
                "default": "2",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    },
                    {
                        "value": "6",
                        "label": "6"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column4",
                "label": "#Column 4",
                "default": "2",
                "info": "Phones landscape",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    },
                    {
                        "value": "5",
                        "label": "5"
                    },
                    {
                        "value": "6",
                        "label": "6"
                    }
                ]
            },
            {
                "type": "select",
                "id": "column5",
                "label": "#Column 5",
                "default": "2",
                "info": "Smartphones",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_speed",
                "label": "Auto play speed",
                "info": "Default: 10000(ms)",
                "default": "10000"
            },
            {
                "type": "text",
                "id": "speed",
                "label": "Speed",
                "info": "Slide/Fade animation speed",
                "default": "300"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Logo Item",
                "settings": [
					{
                        "type": "text",
                        "id": "title",
                        "label": "Logo title",
                        "placeholder": "Title"
                    },
                    {
                        "type": "text",
                        "id": "link",
                        "label": "Logo link"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Logo image",
                        "info": "Default size:288x100 pixels"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Bingo Logo List",
                "category": "4. Bingo Image",
                "blocks": [
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    }
                ]
            }
        ]
    }
{% endschema %}