{% if section.settings.blogsidebar_recentarticles_enable %}
    {% assign numberLimit = section.settings.blogsidebar_recentarticles_limit | plus: 0 %}
    <div class="blogSidebar">
        <h4 class="titleSidebar">{{ section.settings.blogsidebar_recentarticles_title }}</h4>
        <div class="bingoContent">
            <ul class="listSidebarBlog list-unstyled">
                {% for article in blogs[blog.handle].articles limit:numberLimit %}
                    <li>
                        <a href="{{ article.url }}">{{ article.title }}
                            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% if section.settings.blog_banner_enable %}
    <div class="blogSidebar">
        <div class="bingoBanner">
            {% if section.settings.blog_banner_size != blank %}
                {%- assign imageSize = section.settings.blog_banner_size -%}
            {% else %}
                {%- assign imageSize = 'master' -%}
            {% endif %}
            {% if section.settings.blog_banner_link != blank %}<a href="{{ section.settings.blog_banner_link }}" title="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}">{% endif %}
                {% if section.settings.blog_sidebar_image != blank %}
                    <img class="img-responsive" alt="{{ section.settings.blog_sidebar_image.alt | default: shop.name }}" src="{{ section.settings.blog_sidebar_image | img_url: imageSize }}" />
                {% else %}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                {% endif %}
            {% if section.settings.blog_banner_link != blank %}</a>{% endif %}
        </div>
    </div>
{% endif %}
{% if section.settings.blogsidebar_tags_enable %}
    {% assign numberLimit = section.settings.blogsidebar_tags_limit | plus: 0 %}
    {% if blog.all_tags.size > 0 %}
        <div class="blogSidebar">
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_tags_title }}</h4>
            <div class="bingoContent">
                <ul class="blogTagsList list-inline">
                    {% for tag in blog.all_tags limit:numberLimit %}
                        {% if current_tags contains tag %}
                            <li>{{ tag }}</li>
                        {% else %}
                            <li>{{ tag | link_to_tag: tag }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}
{% schema %}
    {
        "name": "Bingo Blog Sidebar",
        "settings": [
			{
                "type": "header",
                "content": "Blog Sidebar Recent Articles"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_recentarticles_enable",
                "label": "Enable recent articles",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Recent Articles"
            },
            {
                "type": "text",
                "id": "blogsidebar_recentarticles_limit",
                "placeholder": "Ex: 6",
                "label": "Number of article limit",
                "default": "6"
            },
			{
                "type": "header",
                "content": "Blog Sidebar Banner"
            },
            {
                "type": "checkbox",
                "id": "blog_banner_enable",
                "label": "Enable banner",
				"default": true
            },
            {
                "type": "text",
                "id": "blog_banner_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)",
				"default": "270x270"
            },
            {
                "type": "text",
                "id": "blog_banner_link",
                "label": "Banner link"
            },
            {
                "type": "image_picker",
                "id": "blog_sidebar_image",
                "label": "Banner image"
            },
            {
                "type": "header",
                "content": "Blog Sidebar Tags"
            },
            {
                "type": "checkbox",
                "id": "blogsidebar_tags_enable",
                "label": "Enable tags list",
				"default": true
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_title",
                "placeholder": "Title for block",
                "label": "Block title",
				"default": "Articles Tags"
            },
            {
                "type": "text",
                "id": "blogsidebar_tags_limit",
                "placeholder": "Ex: 6",
                "label": "Number of tags limit",
                "default": "10"
            }
        ]
    }
{% endschema %}