/*
------------------------------------  WARNING  ------------------------------------
This file will be overwritten and should not be edited directly.
In order to edit custom CSS for Bold Product Bundles you should:
- Log into your Shopify Admin Panel
- Go to Apps --> Installed --> Product Bundles
- Go to Display Settings
------------------------------------  WARNING  ------------------------------------
bold-bundles.css version 1
Generated at 2018-08-22 05:17:14
*/

/* .bold-bundles-product component */

.bold-bundles-product {
  width: 100%;
}

.bold-bundles-product:empty {
    display:none;
}

/* .bold-bundles-widget component */

.bold-bundles-widget {
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  cursor: default;
  margin-top: 20px;
}

.bold-bundles-widget::before,
.bold-bundles-widget::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

/* .bold-bundles-widget-decorator component */

.bold-bundles-widget-decorator__wrapper {
  overflow: auto;
  min-height:20px;
}

.bold-bundles-widget-decorator {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
  display: inline-block;
  float: right;
}

.bold-bundles-widget-decorator span {
  font-weight: bold;
}

/* .bold-bundles-widget-header component */

.bold-bundles-widget-header {
  text-align: center;
  padding-bottom: 20px;
}

.bold-bundles-widget-header__title {
  padding-top: 20px;
  margin-bottom:0px;
  font-size: 18px;
  color: #383838;
}

.bold-bundles-widget-decorator__wrapper + .bold-bundles-widget-header__title {
  padding-top: 0px;
}

.bold-bundles-widget-header__title:empty {
  display:none;
}

/* .bold-bundles-widget__items */
.bold-bundles-widget__items {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget__items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

/* .bold-bundles-widget-item component */

.bold-bundles-widget-item {
  flex: auto;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

/* .bold-bundles-widget-item-separator */

.bold-bundles-widget-item-separator__wrapper {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item-separator__wrapper {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.bold-bundles-widget-item--with-separator {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item.bold-bundles-widget-item--with-separator {
    max-width: 26px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.bold-bundles-widget-item-separator {
  background-color: #333333;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: -18px;
}

.bold-bundles-widget-item--with-separator:nth-child(n+1):last-child {
  visibility: hidden;
}


.bold-bundles-widget-item-separator__icon {
  display: block;
  fill: #FFFFFF;
  margin: 0 auto;
  position: relative;
  top: 4px;
  height: 12px;
  width: 12px;
}

/* .bold-bundles-widget-item--product */

.bold-bundles-widget-item__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item.bold-bundles-widget-item--product {
    min-width: 125px;
    width: calc(50% - 26px);
    max-width: calc(50% - 26px);
    padding-bottom: 0px;
    margin-bottom: 20px;
  }

  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(6),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(6) ~ .bold-bundles-widget-item--product {
    width: calc(33% - 26px);
    max-width: calc(33% - 26px);
  }

  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(8),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(8) ~ .bold-bundles-widget-item--product {
    width: calc(25% - 26px);
    max-width: calc(25% - 26px);
  }

  /* Try to get a row of 3 and a row of 2 */
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(10),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(10) ~ .bold-bundles-widget-item--product {
    width: calc(33% - 26px);
    max-width: calc(33% - 26px);
  }
}

/* .bold-bundles-widget-item__thumbnail-decorator */
.bold-bundles-widget-item__thumbnail-decorator {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #c0c0c0;
  background-color: white;
  text-align: center;
  height: 20px;
  line-height: 18px;
}

.bold-bundles-widget-item__thumbnail-decorator span {
  font-weight: bold;
}

.bold-bundles-widget-item__thumbnail-decorator.product-quantity {
  border-radius: 50%;
  width: 20px;
  display: none;
}

.bold-bundles-widget-item__thumbnail-decorator.product-free {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  display: none;
}

.bold-bundles-widget-item--product:not(.is_free) .bold-bundles-widget-item__thumbnail-decorator.product-quantity{
  display: block;
}

.bold-bundles-widget-item--product.is_free .bold-bundles-widget-item__thumbnail-decorator.product-free{
  display: block;
}

/* .bold-bundles-widget-item__thumbnail */

.bold-bundles-widget-item__thumbnail {
  flex: auto;
  width: 25%;
  position: relative;
}

/* IE as issues with vertical-align with no height style */
@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__thumbnail {
    margin-bottom: 0px;
    vertical-align: bottom;
    min-height: 1px;
    width: 100%;
  }
}

/* .bold-bundles-widget-item__link */

.bold-bundles-widget-item__link {
  max-width: 50%;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__link {
    min-width: 100%;
  }
}

.bold-bundles-widget-item__image {
  vertical-align: bottom;
  width: 100%;
  border:solid #e8e8e8 2px;
}

.bold-bundles-widget-item__in_cart_identifier{
  height:22px;
  width:22px;
  border-radius:50%;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border: solid #a6d429 2px;
  position: absolute;
  right: -5px;
  top: -5px;
}

.bold-bundles-widget-item__in_cart_identifier img{
  height:80%;
  width:80%;
}

/* .bold-bundles-widget-item__info */

.bold-bundles-widget-item__info {
  padding-left: 10px;
  min-width: 200px;
  width: 75%;
  flex: auto;
  text-align: left;
}

.bold-bundles-widget-item__info--centered {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__info {
    width: 100%;
    min-width: 0px;
    padding-left: 0px;
  }
}

/* .bold-bundles-widget-item__title */

.bold-bundles-widget-item__title {
  font-size: 16px;
  color: #383838;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__title {
    margin-bottom: 5px;
  }
}

/* .bold-bundles-widget-item__variants */

.bold-bundles-widget-item__variants {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

select.bold-bundles-widget-item__variants option[disabled] {
  color: grey;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__variants {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

/* .bold-bundles-widget-item__price */

.bold-bundles-widget-item__price {
  font-size: 14px;
  color: #606060;
}

.bold-bundles-widget-item__price--old {
  opacity: 0.75;
  text-decoration: line-through;
}

.bold-bundles-widget-item__price--new {
  font-weight: 600;
  white-space: nowrap;
}

.bold-bundles-widget-item__price--price_multiplier {
  opacity: 0.75;
  font-weight: 400;
}

.bold-bundles-widget__price-total {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
}

/* bold-bundles-widget__button */

.bold-bundles-widget__button {
  height:auto;
    border-radius: 2px;
      -webkit-appearance: button;
  display: inline-block;
}

.bold-bundles-widget__button--top {
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.bold-bundles-widget__button--bottom {
  display: block;
  padding: 2px 5px 0 5px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255,255, 0.1);
}

.bold-bundles-widget__footer {
  padding: 15px 20px 20px 20px;
  text-align: center;
}

.bold-bundles-widget__footer_collection {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
  border-top: solid #c0c0c0 1px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Widget basic-bundle specific styles */

.basic-bundle .bold-bundles-widget__footer {
  text-align: left;
}

/* Widget basic-bogo-1 specific styles */

.basic-bogo-1.bold-bundles-widget {
  margin-top: 20px;
}

.basic-bogo-1 .bold-bundles-widget-item__thumbnail{
  margin-bottom:10px;
}

.bold-bundles-widget-item__no_variants{
  display: block;
}

.bold-bundles-widget-item__no_variants .bold-bundles-widget-item__thumbnail{
  width:100%;
  margin-bottom:0px;
}

/* .bold-bundles-child-product component */

.bold-bundles-child-product-info{
  padding-bottom:15px;
}

.bold-bundles-child-product__title{
  font-size:large;
  opacity: 0.7;
  padding-bottom: 10px;
}

.bold-bundles-child-product__variant-wrapper{
  padding-bottom:15px;
}

.bold-bundles-child-product__link-wrapper{
  padding-bottom:5px;
}
.bold-bundles-widget-item__thumbnail-decorator.product-quantity,
.bold-bundles-widget-item__thumbnail-decorator.product-free {
  z-index: 1;
}
/*
------------------------------------  WARNING  ------------------------------------
This file will be overwritten and should not be edited directly.
In order to edit custom CSS for Bold Product Bundles you should:
- Log into your Shopify Admin Panel
- Go to Apps --&gt; Installed --&gt; Product Bundles
- Go to Display Settings
------------------------------------  WARNING  ------------------------------------
bold-bundles.css version 1
Generated at 2018-06-12 08:32:46
*/

/* .bold-bundles-product component */

.bold-bundles-product {
  width: 100%;
}

.bold-bundles-product:empty {
    display:none;
}

/* .bold-bundles-widget component */

.bold-bundles-widget {
  box-sizing: border-box;
  /* border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0; */
  cursor: default;
  margin-top: 20px;
  margin-bottom: 60px;
border:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bold-dunles-widget &gt; * {
  font-family: &quot;Open Sans&quot;,sans-serif;
}

.bold-bundles-widget::before,
.bold-bundles-widget::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

/* .bold-bundles-widget-decorator component */

.bold-bundles-widget-decorator__wrapper {
  overflow: auto;
  min-height:20px;
}

.bold-bundles-widget-decorator {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
  display: inline-block;
  float: right;
}

.bold-bundles-widget-decorator span {
  font-weight: bold;
}

/* .bold-bundles-widget-header component */

.bold-bundles-widget-header {
  text-align: center;
  padding-bottom: 20px;

  flex:1 0 100%;
}

.bold-bundles-widget-header__title {
  /* padding-top: 20px; */
  margin-top: 0;
  margin-bottom:0px;
  font-size: 30px;
  color: #383838;
  font-weight: 300;
  text-align: center;
  color: #72a181;
  padding-bottom: .2em;
}

.bold-bundles-widget-decorator__wrapper + .bold-bundles-widget-header__title {
  padding-top: 0px;
}

.bold-bundles-widget-header__title:empty {
  display:none;
}

/* .bold-bundles-widget__items */
.bold-bundles-widget__items {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  flex:1 0 70%;
  background-color: #e3e3e3;
  border-radius: 5px;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget__items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

/* .bold-bundles-widget-item component */

.bold-bundles-widget-item {
  flex: auto;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

/* .bold-bundles-widget-item-separator */

.bold-bundles-widget-item-separator__wrapper {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item-separator__wrapper {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.bold-bundles-widget-item--with-separator {
  text-align: center;
  position: relative;
  top:4em;
  left: -15px;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item.bold-bundles-widget-item--with-separator {
    max-width: 26px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.bold-bundles-widget-item-separator {
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: -18px;
  box-shadow: 0 4px 15px rgba(0,0,0,.15);
}

.bold-bundles-widget-item--with-separator:nth-child(n+1):last-child {
  display: none;
}


.bold-bundles-widget-item-separator__icon {
  display: block;
  fill: #72a181;
  margin: 0 auto;
  position: relative;
  top: 18px;
  height: 15px;
  width: 15px;
}

/* .bold-bundles-widget-item--product */

.bold-bundles-widget-item__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item.bold-bundles-widget-item--product {
    min-width: 125px;
    width: calc(50% - 26px);
    max-width: calc(50% - 26px);
    padding-bottom: 0px;
    margin-bottom: 20px;
  }

  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(6),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(6) ~ .bold-bundles-widget-item--product {
    width: calc(33% - 26px);
    max-width: calc(33% - 26px);
  }

  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(8),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(8) ~ .bold-bundles-widget-item--product {
    width: calc(25% - 26px);
    max-width: calc(25% - 26px);
  }

  /* Try to get a row of 3 and a row of 2 */
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(10),
  .bold-bundles-widget__items .bold-bundles-widget-item--product:first-child:nth-last-child(10) ~ .bold-bundles-widget-item--product {
    width: calc(33% - 26px);
    max-width: calc(33% - 26px);
  }
}

/* .bold-bundles-widget-item__thumbnail-decorator */
.bold-bundles-widget-item__thumbnail-decorator {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #c0c0c0;
  background-color: white;
  text-align: center;
  height: 20px;
  line-height: 18px;
}

.bold-bundles-widget-item__thumbnail-decorator span {
  font-weight: bold;
}

.bold-bundles-widget-item__thumbnail-decorator.product-quantity {
  border-radius: 50%;
  width: 20px;
  display: none;
}

.bold-bundles-widget-item__thumbnail-decorator.product-free {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  display: none;
}

.bold-bundles-widget-item--product:not(.is_free) .bold-bundles-widget-item__thumbnail-decorator.product-quantity{
  display: block;
}

.bold-bundles-widget-item--product.is_free .bold-bundles-widget-item__thumbnail-decorator.product-free{
  display: block;
}

/* .bold-bundles-widget-item__thumbnail */

.bold-bundles-widget-item__thumbnail {
  flex: auto;
  width: 25%;
  position: relative;
  text-align: center;
}

/* IE as issues with vertical-align with no height style */
@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__thumbnail {
    margin-bottom: 0px;
    vertical-align: bottom;
    min-height: 1px;
    width: 100%;
  }
}

/* .bold-bundles-widget-item__link */

.bold-bundles-widget-item__link {
  max-width: 50%;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__link {
    min-width: 100%;
  }
}

.bold-bundles-widget-item__image {
  vertical-align: bottom;
  width: 65%;
  mix-blend-mode: multiply;
  border: none;
}

/* .bold-bundles-widget-item__info */

.bold-bundles-widget-item__info {
  padding-left: 10px;
  min-width: 200px;
  width: 75%;
  flex: auto;
  text-align: left;
}

.bold-bundles-widget-item__info--centered {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__info {
    width: 100%;
    min-width: 0px;
    padding-left: 0px;
  }
}

/* .bold-bundles-widget-item__title */

.bold-bundles-widget-item__title {
  font-size: 14px;
  color: #383838;
  text-align: center;
  line-height: 20px;
  padding: 0 1em;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__title {
    margin-bottom: 5px;
  }
}

/* .bold-bundles-widget-item__variants */

.bold-bundles-widget-item__variants {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

select.bold-bundles-widget-item__variants option[disabled] {
  color: grey;
}

@media screen and (min-width: 650px) {
  .bold-bundles-widget-item__variants {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

/* .bold-bundles-widget-item__price */

.bold-bundles-widget-item__price {
  font-size: 14px;
  color: #606060;
  text-align: center;
  padding-top: .5em;
}

.bold-bundles-widget-item__price--old {
  opacity: 0.75;
  text-decoration: line-through;
  color:#777;
}

.bold-bundles-widget-item__price--new {
  font-weight: 600;
  white-space: nowrap;
  color: #72a181;
}

.bold-bundles-widget-item__price--price_multiplier {
  opacity: 0.75;
  font-weight: 400;
}

.bold-bundles-widget__price-total {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
}

/* bold-bundles-widget__button */

.bold-bundles-widget__button {
  height:auto;
    border-radius: 2px;
      -webkit-appearance: button;
  display: inline-block;
  background-color: transparent;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.bold-bundles-widget__button:before {
    content: &quot;Now just&quot;;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
  }

.bold-bundles-widget__button--top {
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);

      padding: 1.3em 2em;
    color: #fff;
    background-color: #72a181;
    border-radius: 3px;
    border: none;
    font-family: &quot;Open Sans&quot;,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .25em;

    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    
  }
  
  .bold-bundles-widget__button--bottom {
    display: block;
    padding: 2px 5px 0 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255,255, 0.1);
    font-weight: 300;
    font-size: 46px;
    /* position: absolute;
    top:-1.5em;
    left: 50%;
    transform: translate(-50%,0); */
    width: 100%;
    text-align: center;

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .bold-bundles-widget__footer:before {
    content: &quot;Now just&quot;;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
  }
  
  .bold-bundles-widget__footer {
  padding: 15px 20px 20px 20px;
  text-align: center;

  flex: 1 0 20%;
}

.bold-bundles-widget__footer_collection {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
  border-top: solid #c0c0c0 1px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Widget basic-bundle specific styles */

.basic-bundle .bold-bundles-widget__footer {
  text-align: left;
  border: 1px solid #72a181;
  border-radius: 5px;
  margin-left: 20px;
  /* padding-top: 8em; */
  padding-top: 4em;
}

/* Widget basic-bogo-1 specific styles */

.basic-bogo-1.bold-bundles-widget {
  margin-top: 20px;
}

.basic-bogo-1 .bold-bundles-widget-item__thumbnail{
  margin-bottom:10px;
}

.bold-bundles-widget-item__no_variants{
  display: block;
}

.bold-bundles-widget-item__no_variants .bold-bundles-widget-item__thumbnail{
  width:100%;
  margin-bottom:0px;
}

/* .bold-bundles-child-product component */

.bold-bundles-child-product-info{
  padding-bottom:15px;
}

.bold-bundles-child-product__title{
  font-size:large;
  opacity: 0.7;
  padding-bottom: 10px;
}

.bold-bundles-child-product__variant-wrapper{
  padding-bottom:15px;
}

.bold-bundles-child-product__link-wrapper{
  padding-bottom:5px;
}
.bold-bundles-widget-item__thumbnail-decorator.product-quantity,
.bold-bundles-widget-item__thumbnail-decorator.product-free {
  z-index: 1;
}

.bundle_visible_prop {
    color: #fff;
    font-size: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 0;
    display: inline-block;
    padding: .5em .9em .5em .9em;
    background-color: #ffa9b6;
    border-radius: 100px;
    border: none;
}

.bundle_visible_prop:before {
  content: &quot;\f1b2&quot;;
  font-family: &#039;FontAwesome&#039;;
  left: 0;
  color: #d9b3bb;
  font-size: 22px;
  float: left;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: .5em;
}

.bundle_visible__message_title {
  display: inline-block;
}

@media screen and (max-width: 1199px) { 
  .basic-bundle .bold-bundles-widget__footer {
    margin-left: 0;
    padding-top:1em;
  }

  .bold-bundles-widget__items {
    border-radius: 5px 5px 0 0;
  }
  
  .basic-bundle .bold-bundles-widget__footer {
    border-radius: 0 0 5px 5px;
    background: #e3e3e3;
    border: none;
    border-top: 1px solid #ccc;
  }
}

@media screen and (max-width: 767px) {
  .bold-bundles-widget-item__thumbnail {
    width: 100%;
  }

  .bold-bundles-widget-item--with-separator {
    top:0;
    left:0;
  }

  .bold-bundles-widget-item {
    padding-bottom: 0;
  }

  .basic-bundle .bold-bundles-widget__footer {
    margin-left: 0;
    border-radius: 0 0 5px 5px;
    padding-top:1em;
  }

  .bold-bundles-widget__items {
    border-radius: 5px 5px 0 0;
  }

  .bold-bundles-widget-item__image {
    width: 40%;
     border:none;
  }

  .bold-bundles-widget-header__title {
    font-size: 25px;
  }

  .bold-bundles-widget__button--bottom {
    font-size: 38px;
  }

  .bold-bundles-widget__button--bottom::before {
    font-size: 22px;
  }

  .bold-bundles-widget__button {
    padding: 0;
  }

  .bold-bundles-widget-item-separator {
    width: 40px;
    height: 40px;
  }

  .bold-bundles-widget-item-separator__icon {
    top:13px;
  }
  .bold-bundles-widget-item-separator__wrapper {
     border-bottom: none;
     margin-bottom: 10px;
     margin-top: -15px;
  }
}

