{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="templageArticleWrap">
            {% section 'bingo-template-article' %}
        </div>
    </div>
</section>