{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="templageBlogWrap">
            {% section 'bingo-template-blog' %}
        </div>
    </div>
</section>