{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
    	<div class="binimalCollTop">
            <h1 class="headerCollection">{{ collection.title }}</h1>
            {% comment %} <div class="collBoxSort">
                {% include 'collection-sorting' %}
            </div> {% endcomment %}
        </div>
        <div class="row">
          	<div id="proListCollection" class="bingoCenterColumn col-xs-12">
              	{% section 'bingo-template-collections' %}
          	</div>
        </div>
    </div>
</section>