<section class="brands-page" id="pageContent">
        <div style="background-color:#f5f5f5">
            <div  class="brands-info container">
                <div class="row binimalCollTop">
                    <div class="brands-info__image col-md-12">
                        {% if collection.image %}
                                <div>
                                    <img style="max-width:300px;margin: 30px auto 30px auto;" class="img-responsive" src="{{ collection.image.src | collection_img_url: 'original' }}" alt="{{ collection.image.alt }}" />
                                </div>
                        {% endif %}

                    </div>
                    <div class="brands-info__description col-md-10 col-md-push-1 text-center">
                        {% if collection.description != blank %}
                                    <div class="rte rteHeader">
                                        {{ collection.description }}
                                    </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin-top:5rem">
                <div class="col-md-12">
                <div class="" style="">
                        <h3 class="bingoHomeTitle">Explore the brand</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div id="proListCollection" class="bingoCenterColumn col-xs-12">
                    {% if collection.products_count == 0 %}
                        There are no products in this collection.
                    {% else %}
                        {% section 'bingo-template-collections' %}
                    {% endif %}
                </div>
            </div>
        </div>
</section>

<style>
    .brands-page {
        position:relative;
        top:-39px;
    }

    .brands-info__description{
        line-height: 24px; 
        color:#595959; 
        font-size:15px; 
        padding-right:8rem;
    }

    .brands-info .binimalCollTop {
        padding: 4rem 0;
    } 

    @media (max-width: 479px) {
        .brands-info__description {
            padding-right: 0;
        }
        .brands-info__description .rteHeader span,
        .brands-info__description .rteHeader{ 
            text-align: center;
            display: block;
        }

        .brands-info__image img {
            max-width: 60%;
            margin: 0 auto 20px auto;
        }

        .brands-info .binimalCollTop {
            padding: 2rem 0;
        } 
    }
</style>