{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="pageContainer">
            <h1 class="bingoPageTitle">{{ page.title }}</h1>
            <div class="pageContent pageAboutUs">
                <div class="rte">
                    {{ page.content }}
                </div>
                {% section 'bingo-template-aboutus' %}
            </div>
        </div>
    </div>
</section>