{% include 'breadcrumb' %}
{% if page.handle == 'about-sophea' %}
    {% assign min_height = '500px' %} 
    {% assign padding_top = '50px' %}      
{% endif %}

{% if page.handle == 'why-shop-at-sophea' or page.handle == 'about-sophea' %}
    {% assign showTitle = 'display:block' %}    
{% endif %}

<section id="pageContent">
    <div class="container">
        <div class="pageContainer" style="min-height:{{ min_height }};padding-top:{{ padding_top }}">
            <h1 class="bingoPageTitle" style="{{ showTitle }}">{{ page.title }}</h1>
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>