{% assign current_variant = product.selected_or_first_available_variant %}
{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
      	<div class="row">
      		<aside id="bingoSidebar" class="bingoSidebar col-xs-12 col-sm-4 col-md-3">
      		    {% section 'sidebartop' %}
              	{% section 'sidebarbanner' %}
          	</aside>
          	<div class="col-xs-12 col-sm-8 col-md-9">
              	{% section 'bingo-template-product' %}
          	</div>
      	</div>
    </div>
</section>
<script>
    var selectCallback = function(variant, selector) {
        bingo.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
        });
    };
    $(document).ready(function() {
        new Shopify.OptionSelectors('productSelect', {
            product: {% include 'bold-product', output: 'json' %},
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });
        {% if product.available and product.options.size > 1 %}
            Shopify.linkOptionSelectors({% include 'bold-product', output: 'json' %});
        {% endif %}
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        {% if bold_variants_size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            $('.swatch').hide();
        {% endif %}
        $('.proDetailInfo .nav-tabs li:first, .proDetailInfo .tab-content .tab-pane:first').addClass('active');
        $('.proDetailInfo .bingoPanel:first .panel-collapse').addClass('in');
    });
</script>
